body {
	margin: 0;
	font-size: 15px;
	font-family: "open sans";
	font-weight: 300;
}

.lead {
	font-size: 23px;
}

#header {
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #ddd;
}


.centered {
	text-align: center;
}

img {
	max-height: 100%;
}

h3 {
	color: rgb(0, 0, 0);
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 21px;
	font-weight: 200;
	line-height: 29px;
}