#header_new {
	background: #ecf0f1;
	margin: 0 0 10px 0;
	padding: 10px 0 0 0;
}
#logo_new {
	background: none;
}
#nav_new {
	background: #6dc6c1;
	margin: 10px 0 0 0;
}
.nav-tabs ul {
	background: none;
	border-radius: 0;
	border: none;
}
.nav-tabs li {
	border-left: 1px solid #ecf0f1;
	border-radius: 0;
}
.nav-tabs li:first-child {
	border-left: none;
}
.nav-tabs li > a {
	border: none !important;
	border-radius: none !important;
	color: #000;
}
.nav-tabs li > a:hover {
	background: #ecf0f1;
	border: none !important;
	border-radius: inherit !important;
}
.nav-tabs li:first-child > a:hover {
	margin-left: 0;
	
}