#menu-xs {
	margin: 5% 0 0 0;
}
#menu ul {
	text-align: center;
	float: none;
	border: none;
	margin: 0 auto;
}
	#menu ul li {
		background: #6dc6c1;
		border-radius: 5px 5px 0 0;
		border: none;
		margin: 0 2px;
	}
	#menu ul li a {
		background: #6dc6c1;
		border: 1px solid #6dc6c1;
		border-bottom: none;
	}
	#menu ul li a, a:hover, a:visited {
		color: #000;
	}
	#menu ul li.active a,
	#menu ul li a:hover {
		background: #fff7e1;
		border: 1px solid #6dc6c1;
		border-bottom: none;
		width: 100%;
	}