/*!
	* UKM Responsive CSS
	* 2013
*/

#body {
	margin: 0;
}

#header {
	margin: 20px auto 0 auto;
	border-bottom: 1px solid #ddd;
}

/* MENU ELEMENTS */
.menuElm {
	padding: 2px;
}
.menuElm .title {
	font-weight: bold;
}

@media screen and (min-width: 993px) {
	.menuElm {
		padding: 8px;
		font-size: 11px;
	}
	.menuElm .title { 
		font-size: 14px;
	}
	.menuElm img {
		margin: none;
		padding: 0;
	}
}
@media screen and (max-width: 992px) {
	.menuElm .title {
		text-align: center;
	}
}

/* FRAME */
#logo {
	margin-bottom: 20px;
}
	#logo img {
		width: 100%;
	}

	#menu ul {
		text-align: center;
		float: none;
		border: none;
		margin: 0 auto;
	}
	#menu ul li {
		background: #6dc6c1;
		border-radius: 5px 5px 0 0;
		margin: 0 2px;
	}
	#menu ul li a, a:hover, a:visited {
		color: #000;
	}
	#menu ul li a:hover {
		background: #fff7e1;
		border-radius: 5px 5px 0 0;
		margin: 0 2px;
	}
	
#top {
	margin: 0 auto;
}

#content {
	margin: 0 auto;
}

#almostfooter {
	text-align: center;
}

.center {
	text-align: center;
}


.test {
	background: #d53b3b;
	border: 1px solid black;
}