{% extends "Layout/_base.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>Tusen takk!</h1>
				<p>Vi setter stor pris på at vi får lov til dette.</p>
			</div>
		</div>
	</div>
{% endblock %}