/* FILE: navbar.less */
/*#main_menu_button {
    margin: 7px 0px 0px 0px;
}
.navbar-brand {
    float: left;
    padding: 6px 15px 10px 15px;
}
*/
.navbar-separator {
  border-bottom: 5px solid #b89dcc;
}
