<div class="block_icons">
	{% if block.title is defined %}
		<h2>{{ block.title }}</h2>
		<div class="clearfix"></div>
	{% endif %}
	{% if block.lead is defined %}
		<p class="lead">{{ block.lead }}</p>
		<div class="clearfix"></div>
	{% endif %}
	
	{% if block.icons|length == 5 %}
		<div class="hidden-xs col-md-1 }}">&nbsp;</div>
	{% endif %}
	{% for icon in block.icons %}
		<div class="col-xs-5 col-sm-4 col-md-2 center">
			<img src="{{icon.icon}}" width="80" class="img img-circle" />
			<div class="clearfix"></div>
			<a href="{{icon.anchor}}">{{icon.title}}</a>
		</div>
	{% endfor %}
</div>

<style>
	.block_icons p.lead {
		margin-bottom: 50px;
	}
</style>