/* BUTTONS FROM UKMDELTA */
.btn-success,
.btn-success:link,
.btn-success:visited,
.btn-primary,
.btn-primary:link,
.btn-primary:visited,
.btn-default,
.btn-default:link,
.btn-default:visited {
  //border-color: #48b5b8 !important;
  border-color: @clr-ukm-green-d1 !important;
  background: @clr-ukm-green !important;
  color: @clr-btn-text !important;
}

.btn-primary:hover,
.btn-default:hover,
.btn-success:hover {
  border-color: @clr-ukm-green !important;
  background: @clr-ukm-green-d1 !important;
  color: @clr-btn-text-hover !important;
}

.btn-primary:active,
.btn-default:active,
.btn-success:active {
  border-color: @clr-ukm-green !important;
  background: @clr-ukm-green-l2 !important;
  color: @clr-btn-text-hover !important;
}

.btn-xs {
  font-weight: bold !important;
}

/*** Rød farge på fare-knapp */
.btn-delta.btn-danger {
  /** TODO: Importere disse fra bootstrap.css? */
  color: @clr-btn-text;
  background-color: @clr-btn-danger-bg;
  border-color: @clr-btn-danger-bo;
}

#OLD
/*.btn-default,
button.btn-default {
  background: @clr-ukm-green-l3 !important;
}
.btn-success {
  background: @clr-ukm-green !important;
}*/

/*.btn-default a, .btn-default a:visited,
a.btn-default, a.btn-default:visited,
.btn-success a, .btn-success a:visited,
a.btn-success, a.btn-success:visited,
button.btn-default {
  font-weight: bold !important;
  color: #1a1919 !important;
}*/