.todo ol li a {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
	padding: 16px 42px 18px 25px;
	color: #7F8C8D;
}
.todo ol li a:hover {
	background: #FFF;
}
.todo-icon {
	width: 24px;
}