@import "colors.less";

.btn-default,
button.btn-default {
	background: @clr-ukm-green-l3 !important;
}
.btn-success {
	background: @clr-ukm-green !important;
}

.btn-default a, .btn-default a:visited,
a.btn-default, a.btn-default:visited,
.btn-success a, .btn-success a:visited,
a.btn-success, a.btn-success:visited,
button.btn-default {
	font-weight: bold !important;
	color: #1a1919 !important;
}


@import "header.less";
@import "base.less";
@import "byline.less";
@import "post.less";
@import "wpshit.less";
@import "internasjonalt.less";
@import "flatui.less";
@import "footer.less";
@import "facebook.less";
@import "ambassador.less";
@import "monstring.less";
@import "dinmonstring.less";
@import "innslag.less";
@import "breadcrumbs.less";
@import "feature.less";
@import "cc.less";
@import "googlemaps.less";

body {
	margin: 0;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #444;
	height: 100%;
}
@media (max-width: 768px) {
	body {
		font-size: 16px;
		line-height: 25px;
	}
}

.center {
	text-align: center;
}

/* SLIDER */
#slider {
	margin-bottom: 10px;
}

/* NEWS */
.news {
	margin-top: 20px;
}
.news h2 {
	margin-top: 0px;
}
.news img {
	width: 100%;
}

/* FRAME */
#logo {
	margin-bottom: 20px;
}
#logo img {
	width: 100%;
}
	
#top {
	margin: 0 auto;
}

#content {
	margin: 0 auto;
}

.center {
	text-align: center;
}

.clickable {
	cursor: pointer;
}

a > h2 {
	color: #333;
	font-weight: 400;
	font-size: 26px;
	padding: 3px 0px 3px 0px;
	margin: 0px;
}

a {
	color: @link-color;
}
a:hover, a:active, a:visited {
	color: @link-color-hover;
	text-decoration: none;
}

#ico_international {
	margin-top: 20px;
}

#ukm_page_post_content {
	margin: 20px auto 20px auto;
}

.separator_line {
	border-bottom: 1px solid #D8D8D8;
	margin: 15px 0px 5px 0px;
}

.top10 {
    margin-top: 10px;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}
.navbar-nav.navbar-justified{
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    float:none;
}
.news-article-list {  
    .news-article {
        padding: 20px;
        padding-left: 0px;
        background: #fff;
        .news-article-body {
            @media only screen and (max-width : 1023px) { height:auto!important; } 
            padding-bottom: 10px;
            border-bottom: 1px solid #e3e3e3;
            .col-md-4 {
                padding-left: 0px;
            }    
            .col-md-8 {
                padding-left: 0px;
            }     
        }
        .image {
            height: 200px;
            width: 100%;
            display:block;
            -webkit-background-size: cover; 
            -moz-background-size: cover; 
            -o-background-size: cover; 
            background-size: cover;
            background-position: 50% 50%;
            img {
                height: 100%;
                width: 100%;
                margin-left: 0px;
                margin-right: 0px;
            }
        }
        .news-article-content {
            padding-top: 5px;
            p {
                font-size: 14px;
                line-height: 1.6;
                word-wrap: break-word;
                
            }
            .infos {
                font-size: 11px;
                margin-bottom: 8px;
                div {
                    float: left;
                    margin-right: 10px;
                }
            }
            h3 {
                margin-top: 0px;
                margin-bottom: 8px;
            }
            span.readmore {
                white-space:nowrap;
            }
        }
        
        .news-article-one-col {
            .news-article-content {
                
            }
        }
        .news-article-two-col {
            .news-article-content {
                @media only screen and (min-width : 1023px) { 
                    column-count: 2;
                    column-gap: 20px;
                    -webkit-column-count: 2;
                    -webkit-column-gap: 20px;
                    -moz-column-count: 2;
                    -moz-column-gap: 20px;
                } 
            }
        }
        .news-article-three-col {
            .news-article-content {
                @media only screen and (min-width : 1023px) { 
                    column-count: 3;
                    column-gap: 20px;
                    -webkit-column-count: 3;
                    -webkit-column-gap: 20px;
                    -moz-column-count: 3;
                    -moz-column-gap: 20px;
                } 
            }
        }
    }
}