/* FILE: base.less */

/* TEXT-ALIGN */
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.left {
	text-align: left;
}

.bold {
	font-weight: bold;
}

/* BUTTONS */
button {
	cursor: pointer;
}
/* LINKS */
a {
	color: @color-primary-dark;
	cursor: pointer;
}

a:visited,
a:focus,
a:active,
a:hover {
	color: @color-primary-dark;
}

.wp-caption, img {
	max-width: 100% !important;
	height: auto;
}