blockquote {
	font-size: 1.4em;
	font-weight: 200;
	/* margin-left: 4em; */
	padding-left: 4em;
}

blockquote:before {
	background-image: url('https://trudymorgancole.files.wordpress.com/2007/08/quotes1.jpg');
	content: '';
	background-repeat: no-repeat;
	display: inline-grid;
	background-size: contain;
	float: left;
	/* margin-right: 20px; */
	height: 100%;
	padding: 1.4em;
	margin-left: -4em;
	margin-right: 0;
	opacity: .85;
}

cite {
	font-size: 1rem;
}