blockquote {
	.lead;
	/* margin-left: 4em; */
	padding-left: 2em;
	margin-top: 2em;
	margin-bottom: 2em;
	font-weight: 500;
}

blockquote:before {
    content: "\eb1b";
    background-repeat: no-repeat;
    display: inline-grid;
    background-size: contain;
    float: left;
    height: 100%;
    padding: 1.4em;
    margin-left: -2.4em;
    margin-right: -0.7em;
    opacity: .85;
    font-family: icomoon;
    font-size: 2rem;
    margin-top: -1.4em;
}

cite {
	display: block;
	font-size: .75em;
	font-weight: 100;
	font-variant: normal;
	text-align: right;
	text-transform: uppercase;
	margin-right: 1em;
	margin-top: .5em;
	font-weight: 500;
	font-style: normal;
	font-size: 0.9rem;
}