.calendar {
	border: 3px solid @color-primary-dark;
    box-shadow: 5px 5px @color-primary-dark-dark;
}

.calendar > .month {
	background: @color-primary-dark;
}

.calendar > .day {
	font-size: x-small;
}

.calendar > .dato {
	font-size: 2em;
}