.UKMtoggleContent#UKMtoggleLokal {
	display: none;
}

@media (min-width: 768px) {
	.UKMtoggleContent#UKMtoggleLokal {
		display: block;
		display: flex;
	}
}


.kontaktperson-bilde {
	padding-bottom: 66%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
} 
@-moz-document url-prefix() {
	.kontaktperson-bilde {
		display: table;
	}
}

.fylkesfestival {
	background: @color-primary;
	color: #fff;	
}


.fylkesfestival-banner {
	background: @color-primary;
	color: #fff;	
}

.fylkesfestival-banner .title {
	font-size: 1.5rem;
	font-weight: 100;
}

.fylkesfestival-banner-menu-container {
	margin-left: -15px !important;
	margin-right: -15px !important;
}

.fylkesfestival-banner-menu {
    background: rgba(184, 157, 204, 0.17);
	border: none;
	border-bottom: 2px solid @color-primary;
	border-top: none;
    margin-top: -1px !important;
    padding-top: 0.5em;
    padding-bottom: 1.5em;
}

@media (min-width: 992px) {
	.fylkesfestival-banner-menu {
		border-left: 2px solid @color-primary;
		border-right: 2px solid @color-primary;
	}
}


.fylke-pameldte {
	margin-top: -1rem;
	color: #f26d15;
	font-size: 0.7em;
	font-weight: 400;
	float: right;
}