.UKMfavoritt {
	.header {
		background: @color-primary;
		color: #fff;	
	}
	
	.body {
		border: 2px solid @color-primary;
		border-top: none;
	}
}

@media (max-width: 767px) {
	.mitt_UKM { 
		margin-left: ~"Calc(-1em + 1px)";
		margin-right: ~"Calc(-1em + 1px)";
	}
}
