@font-face {
  font-family: 'icomoon';
  src:  url('https://grafikk.ukm.no/UKMresponsive/fonts/icomoon.eot?20180501-Martha');
  src:  url('https://grafikk.ukm.no/UKMresponsive/fonts/icomoon.eot?20180501-Martha#iefix') format('embedded-opentype'),
    url('https://grafikk.ukm.no/UKMresponsive/fonts/icomoon.ttf?20180501-Martha') format('truetype'),
    url('https://grafikk.ukm.no/UKMresponsive/fonts/icomoon.woff?20180501-Martha') format('woff'),
    url('https://grafikk.ukm.no/UKMresponsive/fonts/icomoon.svg?20180501-Martha#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
  content: "\e900";
}
.icon-ticket:before {
  content: "\e9fa";
}
.icon-phone:before {
  content: "\ea1d";
}
.icon-phone-wave:before {
  content: "\ea1f";
}
.icon-location-pin:before {
  content: "\ea38";
}
.icon-location-pin-dot:before {
  content: "\ea3a";
}
.icon-direction:before {
  content: "\ea40";
}
.icon-direction-fill:before {
  content: "\ea41";
}
.icon-calendar:before {
  content: "\ea60";
}
.icon-tv:before {
  content: "\ea73";
}
.icon-mobile:before {
  content: "\ea78";
}
.icon-chat:before {
  content: "\eac5";
}
.icon-user:before {
  content: "\eaf7";
}
.icon-users:before {
  content: "\eaf8";
}
.icon-users-3:before {
  content: "\eb0c";
}
.icon-quote-left:before {
  content: "\eb1b";
}
.icon-quote-right:before {
  content: "\eb1c";
}
.icon-settings:before {
  content: "\eb5f";
}
.icon-bug:before {
  content: "\eb78";
}
.icon-traffic-cone:before {
  content: "\eb7e";
}
.icon-traffic-lights:before {
  content: "\eb7f";
}
.icon-gift:before {
  content: "\ebac";
}
.icon-cook:before {
  content: "\ebbd";
}
.icon-more:before {
  content: "\ec5c";
}
.icon-more-horizontal:before {
  content: "\ec6a";
}
.icon-planet:before {
  content: "\ec94";
}
.icon-planet-outlined:before {
  content: "\ec95";
}
.icon-earth-outlined:before {
  content: "\ec96";
}
.icon-earth-fill:before {
  content: "\ec97";
}
.icon-star-outlined:before {
  content: "\ece0";
}
.icon-star-half:before {
  content: "\ece1";
}
.icon-star-full:before {
  content: "\ece2";
}
.icon-heart:before {
  content: "\ece9";
}
.icon-heart-outlined:before {
  content: "\ecea";
}
.icon-thumbs-up:before {
  content: "\ecf5";
}
.icon-thumbs-down:before {
  content: "\ecf7";
}
.icon-stack-picture:before {
  content: "\ed3f";
}
.icon-info-circle-outline:before {
  content: "\ed63";
}
.icon-info-with-circle:before {
  content: "\ed64";
}
.icon-down-2:before {
  content: "\edc1";
}
.icon-down-1:before {
  content: "\edc2";
}
.icon-down-arrow:before {
  content: "\ee39";
}
.icon-facebook:before {
  content: "\eeef";
}
.icon-facebook-fill:before {
  content: "\eef0";
}
.icon-instagram:before {
  content: "\eef1";
}
.icon-spotify:before {
  content: "\eef3";
}
.icon-youtube:before {
  content: "\eefc";
}
.icon-vimeo:before {
  content: "\eeff";
}
.icon-vimeo-fill:before {
  content: "\ef00";
}
.icon-dropbox:before {
  content: "\ef0d";
}
.icon-info:before {
  content: "\1f334";
}
.icon-volume-high:before {
  content: "\ea26";
}
.icon-volume-mute:before {
  content: "\ea2a";
}