/* FILE: page.less */
.UKMblock.UKMblockImage .image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.UKMblock {
	margin-bottom: 10vh;
	margin-top: 10vh;
	font-size: 1.3em;
	min-height: 20vh;
}
.UKMblock p {
	font-weight: 200;
}

@media (min-width: 768px) {
	.UKMblock {
		font-size: 2em;
		font-weight: 100;
	}
	.UKMblockContent {
		padding-top: 20vh !important;
		padding-bottom: 20vh !important;
	}
}

.UKMblock blockquote {
	font-size: 1.2em;
}
@media (min-width: 768px) {
	.UKMblock {
		font-size: 1.5em;
	}
	.UKMblock blockquote {
		font-size: .9em;
	}
}
@media (max-width: 767px) {
	.UKMblock .image {
		height: 45vh;
	}
}

.UKMblock .text > h1,
.UKMblock .text > h2 {
	margin-top: 0em;
}