.program .hendelse {
	min-width: 15em;
	padding: .5em;
	margin: .5em 0;
}

.program .hendelse > .time {
	float: left;
	margin-right: 1em;
}

.program .hendelse > .data {
	margin-left: 4em;
}
.program .hendelse > .data > .tittel {
	font-weight: bold;
}

.program .husk {
	color: @color-primary;
}