.sitemap .section .header {
	color: @color-primary;
    border-bottom: 4px solid @color-primary;
	text-transform: uppercase;
}

.sitemap .section .header a,
.sitemap .section .header a:visited {
	color: @color-primary;
	text-decoration: none;
}

.sitemap a,
.sitemap a:visited {
	color: #000;
}

.sitemap .pageContainer {
	font-size: 1.2em;
}

.sitemap .pageContainer .page {
	border: 5px solid @color-primary;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
    text-transform: uppercase;
    font-weight: bold;
    color: @color-primary;
}
.sitemap .pageContainer .page a,
.sitemap .pageContainer .page a:visited {
		color: @color-primary;
}

@media (min-width: 1200px) {
	.sitemap .pageContainer {
		font-size: 1.9em;
	}
}