/* CHERRY */

/* PRIMARY */
@color-primary: #931660;
@color-primary-light: lighten( @color-primary, 15%);
@color-primary-light-light: lighten( @color-primary, 25%);
@color-primary-dark: darken( @color-primary, 15%);
@color-primary-dark-dark: darken( @color-primary, 30%);

/* SECONDARY */
@color-secondary: #f3d54d;
@color-secondary-light: lighten( @color-secondary, 15%);
@color-secondary-light-light: lighten( @color-secondary, 25%);
@color-secondary-dark: darken( @color-secondary, 15%);
@color-secondary-dark-dark: darken( @color-secondary, 30%);

@import "base.less";
@import "navbar.less";
@import "footer.less";
@import "sitemap.less";
@import "bootstrap-modifications.less";
 
@import "post.less";
@import "card.less";
@import "fylke.less";

@import "open-sans.less";
@import "icomoon-entypo.css"; // Ligger i CSS-mappa