{% if author is not defined %}
    {% set author = post.author %}
{% endif %}

<div class="post_byline">
		<img src="{{author.image}}" class="author_image" />
{#        <span><p>{{post.author.company_name}}</p></span> #}
        <span><a href="{{ author.link }}"><h4 style="margin-bottom:0px;text-transform:capitalize;">{{author.display_name|capitalize}}</h4></a></span>
        {% if author.title %}
            <span style="font-size:12px;">{{ author.title }}</span>
        {% endif %}
        <hr />
        {% if author.user_email %}
            <span><a href="mailto:{{author.user_email}}">E-post</a></span>
        {% endif %}
        
        {% if author.facebook_url %}
           | <span><a href="{{author.facebook_url}}">Facebook</a></span>
        {% endif %}
     <div class="clearfix"></div>
</div>