<h3>Påmeldingen er åpen!</h3>
<p class="lead mb-0">
    <span class="d-none d-md-block">Meld deg på eller les mer ved å velge din
        {{ fylke.erOslo() ? 'bydel' : 'kommune' }}
        i listen til venstre.</span>
    <span class="d-block d-md-none">Meld deg på eller les mer ved å velge din
        {{ fylke.erOslo() ? 'bydel' : 'kommune' }}
        nedenfor.</span>
</p>