{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-8">
				<h1>{{ page.getPage().title|raw }}</h1>
			</div>
		</div>
		
		<div class="row vertical-align-center program">
			<div class="col-12 dag">
				{% embed "Monstring:Program:hendelser.html.twig"|UKMpath with {'hendelser': program} %}{% endembed %}
			</div>
			
			<div class="col-12">
				<p class="my-4">
					<a href="{{ section.url }}">Tilbake til {{ monstring.getNavn() }}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}