<div class="clearfix"></div>
<div class="col-xs-12 removePadding">
{#
	<div class="image_album{{selector is defined ? '_'~selector : ''}}" id="image_album_{{album_id}}">
		<div class="stupid_load" id="stupid_load_{{album_id}}">
			{% for photo in photos %}
				<img src="{{photo.url.thumb}}" data-width="{{photo.width}}" data-height="{{photo.height}}" data-source="{{photo.url.full}}" data-id="{{photo.id}}" id="photo_{{photo.id}}" />
			{% endfor %}
		</div>
		<div class="grid_load" id="grid_load_{{album_id}}"></div>
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
#}
	<div id="container" class="image_album" style="width:100%;">
	    {% for photo in photos %}
	        <div class="masonryImage" style="float:left;">
	            <a href="{{photo.url.full}}" target="_blank"><img src="{{photo.url.thumb}}" data-width="{{photo.width}}" data-height="{{photo.height}}" data-source="{{photo.url.full}}" data-id="{{photo.id}}" id="photo_{{photo.id}}" title="{{photo.foto}}" /></a>
	        </div>
	    {% endfor %}
	</div>
	<div class="clearfix"></div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
     $(function(){
   
       var $container = $('#container');
     
       $container.imagesLoaded( function(){
         $container.masonry({
           itemSelector : '.masonryImage'
         });
       });
     
     });
</script>