<script>
	$(document).on('click','a.animateOnExit', function() {
		$('html').animate({'margin-left': '-300%'},500);
	});
</script>
<style>
	.navigate .icon {
		font-size: 3em;
	}
	
	.navigate {
		margin-top: 3em;
	}
	
	.navigate a, .navigate a:visited, .navigate a:focus {
		color: #fff;
	}
	.navigate a:hover {
		text-decoration: none;
	}
</style>
<div class="center">
	<h1>Se hvem som deltar</h1>
	<p class="lead"></p>
	
	<div class="center">
		<div class="navigate">
			<a href="pameldte/" class="animateOnExit">
				<span class="icon icon-users"></span>
				<br />
				Se alle påmeldte
			</a>
		</div>
	</div>
</div>