<script>
	$(document).on('click','a.animateOnExit', function() {
		$('html').animate({'margin-left': '-300%'},500);
	});
</script>
<style>
	.navigate .icon {
		font-size: 3em;
	}
	
	.navigate {
		margin-top: 3em;
	}
	
	.navigate a, .navigate a:visited, .navigate a:focus {
		color: #fff;
	}
	.navigate a:hover {
		text-decoration: none;
	}
</style>
<div class="container">
	<div class="row">
		<div class="col">
			<center>
				<h2>24. - 28. juni</h2>
				<h1 class="mt-3">UKM-festivalen 2019</h1>
			</center>
		</div>
	</div>
	<div class="row">

		<div class="col">
			<div class="center navigate">
				<a href="pameldte/" class="animateOnExit">
					<span class="icon icon-users"></span>
					<br />
					Disse deltar
				</a>
			</div>
		</div>

		<div class="col">
			<div class="center navigate"> 
				<a href="program/" class="animateOnExit">
					<span class="icon icon-ticket"></span>
					<br />
					Info til <br />
					publikum
				</a>
			</div>
		</div>

		<div class="col">
			<div class="center navigate">
				<a href="deltaker/" class="animateOnExit">
					<span class="icon icon-info"></span>
					<br />
					Info til <br />
					deltakere
				</a>
			</div>
		</div>
	</div>
</div>