<script>
	$(document).on('click','a.animateOnExit', function() {
		$('html').animate({'margin-left': '-300%'},500);
	});
</script>
<style>
	.navigate .icon {
		font-size: 3em;
	}
	
	.navigate {
		margin-top: 3em;
	}
	
	.navigate a, .navigate a:visited, .navigate a:focus {
		color: #fff;
	}
	.navigate a:hover {
		text-decoration: none;
	}
</style>
<div class="container">
	<div class="row">

		<div class="col">
			<div class="center navigate">
				<a href="pameldte/" class="animateOnExit">
					<span class="icon icon-users"></span>
					<br />
					Disse deltar
				</a>
			</div>
		</div>

		<div class="col">
			<div class="center navigate"> 
				<a href="publikum/" class="animateOnExit">
					<span class="icon icon-ticket"></span>
					<br />
					Info til <br />
					publikum
				</a>
			</div>
		</div>

		<div class="col">
			<div class="center navigate">
				<a href="gratulerer/" class="animateOnExit">
					<span class="icon icon-info"></span>
					<br />
					Info til <br />
					deltakere
				</a>
			</div>
		</div>
	</div>
</div>