<script>
	$(document).ready(function() {
		UKMKonkurranse.on('3:svar', function( response ) {
			$('#rusfritt-sporsmal').hide();
			$('#rusfritt-agreed').fadeIn(200);
		});
		
		UKMKonkurranse.on('3:get', function( response ) {
			if( response.harSvart != null && response.harSvart !== undefined && response.harSvart == true ) {
				$('#rusfritt-sporsmal').hide();
				$('#rusfritt-agreed').fadeIn(200);
			}
		});
		
		if( UKMMobil.har() ) {
			UKMKonkurranse.get(3);
		}
	});
	
	$(document).on('click', '.rusfritt-agree', function( response ) {
		$( this ).html('Lagrer...');
		UKMKonkurranse.svar(3, $(this).attr('data-val'));
	});
	
</script>

<h2>Rusfritt</h2>
<p>UKM-festivalen er rusfritt, akkurat som alle andre UKM-arrangementer.</p>

<div id="rusfritt-agreed"  style="display:none;">
	<p>Vi er enige.</p>
</div>
<div id="rusfritt-sporsmal">
	<p>Ok?</p>
	
	<div class="form-group">
		<button class="btn btn-block btn-outline-primary rusfritt-agree" style="background-color: #fff;" type="button" data-val="16">Ja</button>
	</div>

	<div class="form-group">
		<button class="btn btn-block btn-outline-primary rusfritt-agree" style="background-color: #fff;" type="button" data-val="17">Perfekt</button>
	</div>
</div>
