<div class="clearfix"></div>
<footer class="mt-4">
	<div class="container">
		<div class="col-12 center">
			<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" id="UKMlogoFooter" width="70" />
		</div>
	</div>
</footer>
{#
<footer>
	<div class="container">
		<div class="col-xs-12 col-sm-6 col-md-8">
			<h3>Ung kultur møtes</h3>
		</div>
		<ol class="list-unstyled col-xs-12 col-sm-6 col-md-4">
			<li><a href="//ukm.no/hva-er-ukm">Hva er UKM?</a></li>
			<li><a href="//ukm.no/hva-er-ukm">Hva kan jeg delta med?</a></li>
			<li><a href="//ukm.no/hva-er-ukm">Hvem kan delta?</a></li>
			<li><a href="//ukm.no/hva-er-ukm">Hva er målet?</a></li>
		</ol>
	</div>

	<div class="container">

		<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
			<p><a href="//creativecommons.org/licenses/by-sa/3.0/deed.no">Alt innhold er CC-lisensiert (CC BY-SA 3.0)</a></p>
		</div>
		<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
			<p><a href="//om.ukm.no/kontakt/administrasjonen/">, Fjordgata 1, 7010 Trondheim</a></p>
		</div>
		<div class="hidden-xs col-sm-12">
	        <p>
		        <img src="//ico.ukm.no/cc-16.png" alt="cc" /> {{"now"|dato('Y')}} UKM Norge. &middot;
				<a href="//om.ukm.no/kontakt/">Kontakt</a>
				&middot; 
				<a href="//om.ukm.no/vilkar/">Vilkår for bruk av innhold</a>
				&middot;
				<a href="//om.ukm.no/cookies/">Cookies</a>
	        </p>
	</div>
</div>
#}