{% block navbar %}
	<header>
		{% block navbar_button %}
			<div class="pull-xs-right">
				<a href="{{ view.getPath().getBlog() }}hovedmeny/">
					<button type="button" class="btn btn-sm btn-outline-primary m-x-1 m-y-1" id="main_menu_button">MENY</button>
				</a>
			</div>
		{% endblock %}
	
		{# BRAND ICON #}
		<div class="navbar-header">
			<a href="/" class="m-x-1">
				<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
			</a>
		</div>

		<div class="clearfix"></div>
	</header>
	<div class="container" id="UKMslogan_container">
		<div class="row">
			<div class="col-xs-12 col-sm-8 col-md-6 offset-md-1">
				{% block jumbo_xs %}
			    	<p class="lead center" id="UKMslogan">Når vi møtes, inspirerer, utfordrer og skaper sammen – det er da magien skjer </p>
				{% endblock %}
			</div>
			<div class="col-sm-4 col-md-3 hidden-xs-down">
				<img src="{{ UKMasset('img/skygge.png') }}" width="350" />
			</div>
		</div>
	</div>
	<div class="navbar-separator">
	</div>
{% endblock %}	