<div class="float-right fylke-pameldte clickable click" id="UKMMobil" style="display:none;"></div>
<div class="clearfix"></div>

<div id="UKMMobil-edit" style="display:none;">
	<h2>Hvorfor står mobilnummeret ditt her?</h2>
	
	<p>
		Vi bruker mobilnummeret ditt når du svarer på konkurranser,
		og for å vise et personlig program for deg.
	</p>
	
	<p>
		Mobilnummeret er lagret på telefonen din (dette tar ikke noe plass),
		og vi bruker det aldri til å identifisere deg til noe annet.
	</p>
	
	<p>
		Du kan når som helst fjerne dette, men da må vi spørre deg om 
		mobilnummeret ditt hver gang du svarer på et spørsmål.
		<br/>
		<a href="#" id="UKMMobil-glem">Glem meg</a>
	</p>

	<p>
		<button class="btn btn-outline-primary btn-block" id="UKMMobil-edit-button">Endre mobilnummer</button>
	</p>

	<p>
		<button class="btn btn-outline-primary btn-block" id="UKMMobil-hide">Ok</button>
	</p>
	
</div>
