{% extends "view/fylke/fylke.twig.html" %}

{% set posts_include_top_post_in_full_list = true %}
{% block post_top_desktop_text %}{% endblock %}
{% block post_top_mobile %}{% endblock %}

{% block jumbo_content %}
	Meld deg på UKM {{monstring.navn}} i dag. Velg lokalmønstring!
{% endblock %}

{% block hovedfokus_pre %}
	<div class="col-xs-12">
		<h2>Lokalmønstringer</h2>
	</div>
{% endblock %}

{% block meny_pre %}
	<div class="hidden-md hidden-lg">
		<h2>UKM {{monstring.navn}}</h2>
	</div>
{% endblock %}

{% block meny_ekstra %}
	<p>
		{% embed "element/monstring/monstring_beskrivelse.twig.html" with {'time_verb': 'er', 'type': 'Fylkes'} %}{% endembed %}
	</p>
{% endblock %}



{% block hovedfokus %}
	<div class="visible-xs">
		Gå til din lokalside ved å velge fra listen	
		<select name="lokalmonstring" class="form-control" id="select_lokalmonstring">
			<option selected="selected">Velg lokalmønstring</option>
		{% for monstring in lokalmonstringer.alle %}
			<option value="{{monstring.url}}">{{ monstring.navn }}</option>
		{% endfor %}
		</select>
	</div>
	<div class="hidden-xs">
	    {% embed "element/monstring/lokalmonstringer_liste.twig.html" %}
	    {% endembed %}
	</div>
	<div class="clearfix"></div>
{% endblock %}