{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<h1>Hvilken bruker ønsker du tilgang til?</h1>
				<p class="lead">Vi fant nemlig adressen din tilknyttet flere kommuner/mønstringer</p>
				
				<form method="POST">
					<input class="form-control" type="hidden" id="email" name="email" value="{{ email }}" />

					<div class="form-group">
						<select name="kommune" class="form-control" required>
							<option selected="selected" disabled="disabled">Velg kommune/bydel du vil ha passord til</option>
							{% for kommune_id, kommune_navn in valg %}
								<option value="{{ kommune_id }}">{{ kommune_navn }}</option>
							{% endfor %}
						</select>
					</div>


					<div>
						<input class="btn btn-outline-primary btn-block" type="submit" value="Send meg passord" />
					</div>
				</form>

			</div>
			
			
		</div>
	</div>
{% endblock %}