{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<h1>Beklager</h1>
				<p class="lead">
					Systemet klarte ikke å finne en bruker eller kontaktperson tilknyttet e-postadressen du skrev inn
					<pre>{{ email }}</pre>
				</p>
				
				<p>
					Før vi kan sende deg passord-informasjon trenger vi litt mer informasjon.
				</p>
				
				<form method="POST">
					<input class="form-control" type="hidden" id="email" name="email" value="{{ email }}" />
					
					<div class="form-group">
						<label for="kommune">Hva heter du?</label>
						<input type="text" name="navn" class="form-control" required />
					</div>

					<div class="form-group">
						<label for="fylke">Velg ditt fylke</label>
						<select name="fylke" class="form-control" required>
							<option selected="selected" disabled="disabled">Velg fylke</option>
							{% for fylke in fylker %}
								<option value="{{ fylke.getId() }}">{{ fylke.getNavn() }}</option>
							{% endfor %}
						</select>
					</div>
					
					<div class="form-group">
						<label for="kommune">Hvilken kommune ønsker du tilgang til?</label>
						<input type="text" name="kommune" class="form-control" required />
					</div>
					
					<p>
						Ettersom vi ikke fant deg i systemet, må vi sende henvendelsen din videre
						til fylkeskontakten din. Når du trykker på knappen, sender vi derfor en e-post dit, 
						med kopi til deg.
					</p>
					
					
					<div>
						<input class="btn btn-outline-primary btn-block" type="submit" name="fylkesrequest" value="Send forespørsel om passord" />
					</div>
				</form>

			</div>
		</div>
	</div>
{% endblock %}