{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<h1>Beklager</h1>
				<p class="lead">
					Systemet klarte ikke å skjønne e-postadressen du skrev inn
					<pre>{{ email }}</pre>
				</p>
				
				<p>
					Send en e-post til
					<a href="mailto:support@ukm.no{{ emailcontent|raw }}">support@ukm.no</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}