{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<h1>Nå skjer det ting!</h1>
				<p class="lead">
					En e-post er sendt til {{ mottaker }} med beskjed om at du trenger tilgang til passordet.
				</p>
				
				<p>
					Ettersom henvendelsen har gått til manuell behandling,
					kan det ta litt tid før du får svar, men vi skal svare deg så fort
					som mulig!
				</p>
				
				<p>
					PS: Vi har satt deg på kopi på e-posten, i tilfelle du trenger å tilføye noe.
				</p>
				
				<p>
					<a href="{{ Sitemap.getPage('egoego', 'forsiden') }}">Ha en fin dag</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}