{% extends "layout.twig.html" %}

{% block navbar %}
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
		</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="http://ukm.no">tilbake til UKM.no</a></li>
	</ul>
{% endblock %}

{% block jumbo_content %}
	{% embed "element/monstring/monstring_beskrivelse.twig.html" with {'time_verb': 'er', 'type': 'Land'} %}{% endembed %}
{% endblock %}

{% block content_container %}
<div class="row">
	<div class="container">
		{% embed "element/festival/homepage_lead.twig.html" %}{% endembed %}
	</div>
</div>

<div class="arrow_box"></div>
    <div class="row box_grey" style="padding-bottom:0px;">
        <div class="container">
        <ol class="nav navbar-nav navbar-justified" style="margin-top:28px;">
	        {% for nav in page_nav %}
	            <li class="navbar-link">
	                <a href="{{nav.url}}">
	                    <div class="centered">
	                        <span><img src="{{url.theme_dir}}img/nav/nav-{{nav.icon}}.png" width="45"/></span>                            
	                    </div>
	                    <span>{{nav.title}}</span>
	                </a>
	            </li>
			{% endfor %}
        </ol>
        </div>
    </div>
</div>

{% if har_pameldte %}
<div class="clearfix"></div>
<div class="row">
	<div class="container">
		<div class="page_box" align="center">
			{% embed "element/festival/homepage_find.twig.html" %}{% endembed %}
		</div>
	</div>
</div>
{% endif %}

{% if posts|length > 1 %}
<div class="row">
    <div class="container">
        <h1>Nyheter</h1>
        <div class="news-article-list">
            {% for post in posts %}
                {% embed "element/festival/news_article.twig.html" with {'post':post,'url':url} %}{% endembed %}
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{#
<div class="row">
    <div class="container">
        <h1>UKM-TV: Vi møter</h1>
        <p class="lead">Hver dag frem til UKM-festivalen presenterer vi en gruppe, artist eller kunstner som du kan møte i Trondheim.</p>
        <div class="news-article-list">
            {% for post in meet %}
                {% embed "element/festival/news_article.twig.html" with {'post':post,'url':url} %}{% endembed %}
            {% endfor %}
        </div>
    </div>

</div>
#}
{% endblock %}