{% extends "layout.twig.html" %}

{% block navbar %}
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
		</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="http://ukm.no">tilbake til UKM.no</a></li>
	</ul>
{% endblock %}

{% block jumbo %}

{% endblock %}

{% block content_container %}
<a name="{{block.anchor}}"></a>
{% embed "block/"~ ukmfestivalen_jumboimage.type ~".twig.html" with {'block': ukmfestivalen_jumboimage} %}{% endembed %}
<style>
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#navbar-background {
	background: #F5F5F5;
	border-bottom: 2px solid #D8D8D8;
}
</style>
<div id="navbar-background">
	<p>&nbsp;</p>
	<div class="container">
		<div class="row row-centered">
	    {% for nav in page_nav %}
	        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered" style="text-align: center; min-height: 100px">
	            <a href="{{nav.url}}">
	                <div class="centered">
	                    <span><img src="{{url.theme_dir}}img/nav/nav-{{nav.icon}}.png" width="45"/></span>                            
	                </div>
	                <span>{{nav.title}}</span>
	            </a>
	        </div>
		{% endfor %}
		</div>
	</div>
</div>

<div id="homepagecontent">

	{% if livestream_info is defined %}
		{% embed "element/blocks.twig.html" with { blocks: livestream_info } %}{% endembed %}
	{% endif %}

	{#<div class="row">
		<div class="container">
			<h1>Livestream</h1>
			<iframe src="http://livestream.com/accounts/183084/events/4139517/player?width=960&height=540&autoPlay=true&mute=false" width="100%" height="540" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>#}

    <div class="row">
        <div class="container">

		{% for post in posts %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}

		{% embed "element/post/prev_next.twig.html" %}{% endembed %}
        </div>
    </div>
    

    {% if daniel %}
    {#<div class="row">
	    <div class="container">
	    	<div id="justified-gallery">
		    {% for image in latest_images %}
		    	<a href="{{ image.blog_url }}/files/{{ image.post_meta.sizes.medium.file }}">
		    		<img alt="" src="{{ image.blog_url }}/files/{{ image.post_meta.sizes.medium.file }}" />
		    	</a>
		    {% endfor %}
		    <script type="text/javascript">
				$('#justified-gallery').justifiedGallery();
		    </script>
		    </div>
	    </div>
    </div>#}
    {% endif %}

    <div class="clearfix"></div>
    <div class="row">
    	<div class="container">
    		<div class="page_box" align="center">
    			{% embed "element/festival/homepage_find.twig.html" %}{% endembed %}
    		</div>
    	</div>
    </div>
    
    
    {#<div class="arrow_box"></div>
    <div class="row box_grey">
    	<div class="container">
    		<div class="page_box">
    			{% embed "element/festival/homepage_partnere.twig.html" %}{% endembed %}
    		</div>
    	</div>
    </div>#}
</div>
{% endblock %}