{% extends "layout.twig.html" %}

{% block navbar %}
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
		</a>
	</div>

	<ul class="nav navbar-nav navbar-right">
		<li><a href="http://ukm.no">tilbake til UKM.no</a></li>
	</ul>
{% endblock %}

{% block jumbo %}

{% endblock %}

{% block content_container %}
<a name="{{block.anchor}}"></a>
{% embed "block/"~ ukmfestivalen_jumboimage.type ~".twig.html" with {'block': ukmfestivalen_jumboimage} %}{% endembed %}
<style>
/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}
#navbar-background {
	background: #F5F5F5;
	border-bottom: 2px solid #D8D8D8;
}
</style>
<div id="navbar-background">
	<p>&nbsp;</p>
	<div class="container">
		<div class="row row-centered">
	    {% for nav in page_nav %}
	        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 col-centered" style="text-align: center; min-height: 100px">
	            <a href="{{nav.url}}">
	                <div class="centered">
	                    <span><img src="{{url.theme_dir}}img/nav/nav-{{nav.icon}}.png" width="45"/></span>
	                </div>
	                <span>{{nav.title}}</span>
	            </a>
	        </div>
		{% endfor %}
		</div>
	</div>
</div>


{% if livestream_info is defined %}
	{% embed "element/blocks.twig.html" with { blocks: livestream_info } %}{% endembed %}
{% endif %}

{% if livelink is defined and livelink %}
<div class="liveLink" style="text-align:center;">
	<a href="{{livelink}}" target="_blank">Vi sender direkte fra mønstringen, klikk her!</a>
</div>
{% endif %}

{% if "now"|date('m') < 2 or "now"|date('m') > 9 %}
	{% embed "element/new_season.twig.html" %}{% endembed %}
{% endif %}


{% if hva_er_side is defined %}
	<div class="row">
		<div class="container">
			<article>
				<div class="page">
					{{hva_er_side.content|raw}}
				</div>
			</article>
		</div>
	</div>
	{% embed "element/blocks.twig.html" with { blocks: hva_er_side.blocks } %}{% endembed %}
{% endif %}

{% if workshops_info %}
<div class="arrow_box"></div>
<div class="row box_grey">
	<div class="container">
		<div class="page_box">
			{% embed "element/festival/homepage_workshops.twig.html" %}{% endembed %}
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endif %}

{% if posts|length > 0 %}
<div class="row">
    <div class="container">
        <h1>Nyheter</h1>
		{% for post in posts|slice(0,3) %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}

		{% embed "element/post/prev_next.twig.html" %}{% endembed %}
    </div>
</div>
{% endif %}

{% if develop and latest_images|length > 0 %}
    <div class="row">
    	<h1>&nbsp;</h1>
    	<div id="jf">
	    {% for image in latest_images %}
	    	<a href="/festivalen/files/{{ image.post_meta.sizes.large.file }}" target="_blank">
	    		<img src="/festivalen/files/{{ image.post_meta.sizes.medium.file }}" />
	    	</a>
	    {% endfor %}
	    </div>
    </div>
{% endif %}

{% if workshops|length > 0 %}
<div class="row">
    <div class="container">
        <h1>3 av UKM-festivalens {{ workshops_info_count }} workshops</h1>
        <div class="news-article-list">
            {% for post in workshops %}
				<div class="news col-xs-6 col-md-4">
					{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
				</div>
				
				{% if loop.index is divisibleby(3) %}
					<div class="clearfix visible-md visible-lg"></div>
				{% elseif loop.index is divisibleby(2) %}
					<div class="clearfix visible-xs visible-sm"></div>
				{% endif %}
            {% endfor %}
        </div>
        <div class="clearfix"></div>
        <p>&nbsp;</p>
        <a href="category/workshop/" class="btn btn-success">Vis alle workshops</a>
    </div>
</div>
{% endif %}


{% if posts|length > 0 %}
<div class="row">
    <div class="container">
        <h1>Nyheter</h1>
		{% for post in posts|slice(3,18) %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}

		{% embed "element/post/prev_next.twig.html" %}{% endembed %}
    </div>
</div>
{% endif %}




{% endblock %}