{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Kontaktpersoner for
					{{ arrangement.getNavn() }}</h3>
			</div>
			{% for kontakt in arrangement.getKontaktpersonerEllerAdministratorer().getAll() %}
				<div class="col-12 col-sm-6 col-lg-4 col-xl-3">
					{% embed "UKMDesignBundle:Kontaktpersoner:grid.html.twig"|UKMpath %}{% endembed %}
				</div>
			{% else %}
				<div class="col-12">
					<p>
						Vi har ikke kontaktinformasjon for
						{{ arrangement.getNavn() }}
						enda.
						Vi jobber med å skaffe det, så du må gjerne prøve igjen om noen dager.
					</p>
				</div>
			{% endfor %}
		</div>
		<div class="clearfix my-3"></div>
		<div class="row">
			<div class="col-12">
				<p>
					<a href="{{ arrangement.getLink() }}">Tilbake til
						{{ arrangement.getNavn() }}</a>
				</p>
			</div>
		</div>
	</div>
{% endblock %}
