{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<h3>Påmeldte</h3>
		<div class="row">
			<div class="col-12">
				<input type="text" name="filtrer" id="filterInnslag" placeholder="Skriv her for å filtrere listen..." class="form-control block" />
			</div>
			<br /><br />
		</div>
	 	<ul class="list-group" id="searchList">
		 	{% for innslag in innslagListe %}
		 		<a href="{{ innslag.id }}" class="no-color" onClick="return false;">
		 		{% embed 'Monstring/deltaker.html.twig' with {'innslag': innslag} %}{% endembed %}
		 		</a>
		 	{% endfor %}
		 </ul>
	</div>
{% endblock content %}

{% block javascripts %}
	{{ parent() }}
	</script>
	<script type="text/javascript" src="{{ UKMasset("js/fastlivefilter.jquery.js") }}"></script>
	<script>
	jQuery(document).ready(function() {
		jQuery(".innslagElement").click(function (clicked) {
			var content = jQuery(clicked.currentTarget).find(".dynamicElement");
			var innslagsID = jQuery(this).find("input").val();

			/*console.log(content.find(".toppLinje"));*/
			if ( !content.is(":visible") ) {
				content.slideDown();
				jQuery(clicked.currentTarget).find(".trykkTekst").hide();
				// Kun kjør request èn gang.
				if (content.find(".toppLinje").length == 0 ) {
					jQuery.post(
						innslagsID+"/", 
						{
							singleMode: "true"
						},
						function(output) {
							content.find(".loadingGif").hide();
							content.prepend(output);
							content.find(".toppLinje").hide();
					 	}
					);
				}
			} else {
				jQuery(clicked.currentTarget).find(".trykkTekst").show();
				content.slideUp();
			}
		});

		jQuery(".lukkButton").click(function (clicked) {
			var dynamicElement = clicked.closest(".dynamicElement");
			dynamicElement.slideUp();
		});

		jQuery('#filterInnslag').fastLiveFilter('#searchList', function(numShown){

		});
		jQuery('#filterInnslag').change();
	});
{% endblock %}