{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-8">
				<h1>Påmeldte</h1>
				<p>Beklager, denne funksjonen er ikke tilgjengelig enda</p>
			</div>
		</div>
	</div>
{% endblock %}