<script>
	jQuery(document).ready(function(){
		jQuery(document).on('click', 'area', function(e) {
		  e.preventDefault();
		  jQuery('#contactMe').fadeIn();
		  jQuery('.automap_contact').hide();
		  fylke = jQuery(this).attr('data-fylke');
		  jQuery('#automap_contact_'+fylke).slideDown();
		});
	});
</script>
<div class="hidden-xs">
	<h2>Klikk på et hode for å se kontaktinfo</h2>
	<div class="col-xs-12 col-md-12 col-lg-4">
		{% for kontakt in kontakter %}
		<div class="automap_contact" style="display:none;" id="automap_contact_{{kontakt.fylke.id}}">
			{% embed "element/kontakt.twig.html" %}{% endembed %}
		</div>
		{% endfor %}
	</div>
	<div class="col-sm-12 col-md-10 col-lg-8">
		<img src="{{kart_url}}" width="{{kart_width}}" alt="Kontakt-kart" usemap="#automap_map" id="automap_map" />
	</div>
	<map name="automap_map">
		{% for k in kontakter %}
		<area coords="{{k.coords.trbl}}" shape="rect" href="#" data-fylke="{{k.fylke.id}}" />
		{% endfor %}
	</map>
</div>
<div class="container hidden-sm hidden-md hidden-lg visible-xs ">
	{% for kontakt in kontakter %}
	<div class="automap_contact_mobile col-xs-12" id="nomap_contact_{{kontakt.fylke.id}}">
		{% embed "element/kontakt.twig.html" %}{% endembed %}
	</div>
	{% endfor %}
</div>