<script>
	jQuery(document).ready(function(){
		jQuery(document).on('click', 'area', function(e) {
		  e.preventDefault();
		  jQuery('#contactMe').fadeIn();
		  jQuery('.automap_contact').hide();
		  fylke = jQuery(this).attr('data-fylke');
		  jQuery('#automap_contact_'+fylke).slideDown();
		});
	});
	
	
	window.onload = function () {
    var ImageMap = function (map) {
            var n,
                areas = map.getElementsByTagName('area'),
                len = areas.length,
                coords = [],
                previousWidth = 800;
            for (n = 0; n < len; n++) {
                coords[n] = areas[n].coords.split(',');
            }
            this.resize = function () {
                var n, m, clen,
                    x = document.body.clientWidth / previousWidth;
                for (n = 0; n < len; n++) {
                    clen = coords[n].length;
                    for (m = 0; m < clen; m++) {
                        coords[n][m] *= x;
                    }
                    areas[n].coords = coords[n].join(',');
                }
                previousWidth = document.body.clientWidth;
                return true;
            };
            window.onresize = this.resize;
        },
        imageMap = new ImageMap(document.getElementById('automap_map'));
    imageMap.resize();
    return;
}
</script>
<div class="hidden-xs">
	<h2>Klikk på et hode for å se kontaktinfo</h2>
	<div class="col-xs-12 col-md-12 col-lg-4">
		<h2 id="contactMe" style="display:none;">Ta kontakt med</h2>
		{% for kontakt in kontakter %}
		<div class="automap_contact well" style="display:none;" id="automap_contact_{{kontakt.fylke.id}}">
			<div class="row">
				<div class="col-xs-4">
					<img class="img img-circle" src="{{kontakt.bilde_sirkel}}" width="150" style="max-width:100%" />
				</div>
				<div class="col-xs-8">
					<h3 class="name" style="margin-top:0px;">{{kontakt.fornavn}} {{kontakt.etternavn}}</h3>
					<p><strong>{{kontakt.fylke.navn}}</strong></p>
					<p class="phone">{{kontakt.mobil}}</p>
				</div>
			</div>
			<hr class="inwell">
			<div class="row">
				<div class="col-xs-6 col-lg-12">
					<p class="call">
						<a href="tel:{{kontakt.mobil}}" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-phone"></span> Ring
						</a>
					</p>
					<p class="text">
						<a href="sms:{{kontakt.mobil}}" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-phone"></span> SMS
						</a>
					</p>
				</div>
				<div class="col-xs-6 col-lg-12">
					<p class="e-post">
						<a href="mailto:{{kontakt.epost}}" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-envelope"></span>
						{{kontakt.epost}}
						</a>
					</p>
					{% if kontakt.facebook is not empty %}
					<p class="facebook">
						<a href="{{kontakt.facebook}}" target="_blank" class="btn btn-default btn-lg btn-block">
						<span class="glyphicon glyphicon-user"></span>
						På facebook
						</a>
					</p>
					{% endif %}
				</div>
				<div class="clearfix"></div>
			</div>
			<div class="clearfix"></div>
		</div>
		{% endfor %}
	</div>
	<div class="col-sm-12 col-md-10 col-lg-8">
		<img src="{{kart_url}}" width="{{kart_width}}" alt="Kontakt-kart" usemap="#automap_map" id="automap_map" />
	</div>
	<map name="automap_map">
		{% for k in kontakter %}
		<area coords="{{k.coords.trbl}}" shape="rect" href="#" data-fylke="{{k.fylke.id}}" />
		{% endfor %}
	</map>
</div>
<div class="container hidden-sm hidden-md hidden-lg visible-xs ">
	{% for kontakt in kontakter %}
	<div class="automap_contact_mobile well col-xs-12" id="nomap_contact_{{kontakt.fylke.id}}">
		<div class="row">
			<h2 style="margin-top: 0px;">{{kontakt.fylke.navn}}</h2>
			<div class="col-xs-4">
				<img class="img img-circle" src="{{kontakt.bilde_sirkel}}" width="150" style="max-width:100%" />
			</div>
			<div class="col-xs-8">
				<h3 class="name" style="margin-top:0px;">{{kontakt.fornavn}} {{kontakt.etternavn}}</h3>
				<div class="phone">{{kontakt.mobil}}</div>
			</div>
		</div>
		<p></p>
		<div class="row">
			<div class="col-xs-12">
				<p class="call">
					<a href="tel:{{kontakt.mobil}}" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-phone"></span> Ring
					</a>
				</p>
				<p class="text">
					<a href="sms:{{kontakt.mobil}}" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-phone"></span> SMS
					</a>
				</p>
				<p class="e-post">
					<a href="mailto:{{kontakt.epost}}" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-envelope"></span>
					{{kontakt.epost}}
					</a>
				</p>
				{% if kontakt.facebook is not empty %}
				<p class="facebook">
					<a href="{{kontakt.facebook}}" target="_blank" class="btn btn-default btn-lg btn-block">
					<span class="glyphicon glyphicon-user"></span>
					På facebook
					</a>
				</p>
				{% endif %}
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	{% endfor %}
</div>