{% extends "Layout/_layout.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h1>{{ THEME_CONFIG('firenullfire').title }}</h1>
				<p class="lead">{{ THEME_CONFIG('firenullfire').text }}</p>
				<p>Kanskje du kan finne det du leter etter i menyen nedenfor?</p>
			</div>
			<div class="col-12">
				{% embed "Layout/nav.html.twig" %}{% endembed %}
			</div>
		</div>
	</div>
{% endblock %}