{% extends "layout.twig.html" %}
{% block content_container %}
<div class="row">
    <div class="container">
        <h2>Samfundet Knaus</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113756/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
        
        <h2>Samfundet Rundhallen</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113762/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
        
        <h2>Samfundet Lyche</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113765/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
        
        <h2>Samfundet Klubben</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113766/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
    </div>
</div>
{% endblock %}

