{% extends "layout.twig.html" %}

{% block navbar %}
	<div class="pull-right" id="mediaGoBack"><a href="http://ukm.no">gå til UKM.no</a></div>
	<div class="navbar-header">
		<a href="/" class="navbar-brand">
			<img src="http://grafikk.ukm.no/profil/media/UKMmedia_logo.png" width="70" />
		</a>
	</div>
{% endblock %}

{% block jumbo %}

{% endblock %}

{% block content_container %}
	{% embed "block/jumbo_image.twig.html" %}{% endembed %}
	
	<div class="container">
	<h1>Siden kommer straks!</h1>
	<p class="lead">Denne nettsiden blir lansert innen 6. mars!</p>
	</div>
{% endblock %}

{% block additional_css %}
	{{ parent() }}
	#mediaGoBack {
		color: #526476;
		font-weight: 600 !important;
		font-size: 14px !important;
		line-height: 16px !important;
		padding: 21px 20px 16px 20px !important;
	}
	#mediaGoBack a {
		color: #526476;
	}
{% endblock %}