{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'newsletter_base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<script>
		$(document).on('click', '.clickContainer', function(e){
			e.preventDefault();
			window.location.href = $(this).find('.momClickMeClickMe').attr('href');
		});
	</script>
	<style>
		h1, .h1,
		h2, .h2,
		h3,	.h3,
		h4,	.h4,
		h5,	.h5,
		h6,	.h6,
		p,	.p {
			opacity: 1;
		}
		
		.blackBG {
			background-color: #000;
			color: #fff;
		}
		
		.UKMfestivalBox {
			height: 40vw;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
		#UKMheader_separator {
			border-bottom: 0.4em solid #000;
		}
		.white {
			color: #fff;
		}
		footer.mt-4 {
			margin-top: 0px !important;
		}
		
		.clickContainer {
			cursor: pointer;
		}
		
		a,
		a:hover,
		a:active,
		a:visited {
			color: inherit;
			text-decoration: none;
		}
		
		#forste_linje {
			margin-top: -1em;
		}
		@media (min-width: 992px) {
			#forste_linje {
			    margin-top: -1.4em;
			}
		}
		
		/** MOBIL **/
		#boxProgram {
			min-height: 30vh !important;
			background-image: url('//grafikk.ukm.no/UKMresponsive/img/festival/program.jpg'); 
		}
		#boxProgram h2 {
			margin-top: Calc( 35% - 1em);
			margin-bottom: Calc( 35% - 1em );
		}
		#boxDeltaker {
			background-color: #afd6b7;
		}
		#boxPublikum {
			background-color: #151e3f;
		}
		#boxHvaEr {
			background-color: #ddd;
			background-image: url('//grafikk.ukm.no/UKMresponsive/img/festival/hvaer.jpg');
			background-position: bottom right;
		}
		#boxDeltar {
			background: #5c3b8a;
		}
		#boxDeltakerprogram {
			background: #151e3f;
		}
		#boxWorkshops {
			background: #afd6b7;
		}

		.textOverlayHeader {
			color: #f4df42;
			background: none;
		}

		.textOverlay {
			position: absolute;
			font-family: 'Crimson Text', bold serif;
			font-weight: 500;
			
			width: 100%;
		}

		.headerTitle {
			font-size: 3em;
			color: #FCF7BD;
			/*letter-spacing: 0.3rem;*/
			left: 50%;
			top: 29%;

		}

		.fullsizeTekst {
			position: absolute;
			color: #FCF7BD;
			/*transform: translate(-50%, -50%);*/
			font-family: 'Crimson Text', serif;
			width: 100%;
			line-height: 0.5rem;
		}

		.fullsizeTekst > a.big {
			font-size: 1.9rem;
		}

		.oskarSak > a.small {
			font-size: 1.4rem;
			letter-spacing: -0.05rem;
		}

		#forste_linje {
			background-color: black;
		}

		/* #### NYHETSBREV #### */
		.ticker {
			/*width: 110%;*/
			min-height: 1.6em;
			display: block;
			font-family: 'anton', bold sans-serif;
			font-size: 1.1em;
			padding: 0.3em;
			padding-left: 0em;
			background-color: #f4d909;
			white-space:nowrap;
    		overflow:hidden;
    		letter-spacing: 0.1rem;
		}

		.ticker < marquee {
			padding-top: 0.3rem;
		}

		.topBox {
			background-color: black;
			display: block;
		}

		.anton {
			font-family: 'Anton', sans-serif;
			font-size: 2em;
		}

		.anton.big {
			font-size: 2.6em!important;
		}

		.inline-row {
			height: 50vw;
		}

		.fullwidthBox {
			background-color: black; 
			display: block;
			height: 60vw;
			overflow: hidden;
			background-repeat: no-repeat;
			background-size: 100% auto;
		}

		.fullwidthBox > a {
			top: 50%;
			transform: translate(-50%, -50% -.5px);
			font-family: 'Crimson Text', serif;
		}

		.fullwidthBox > a.anton {
			font-family: 'Anton', sans-serif;
		}

		.halfwidthBox > a {
			font-family: 'Work Sans';
			font-size: 26px;
			color: white;
			display: block;
			transform: translate(0, 75%-.5px);
			text-align: center;
		}

		.halfwidthBox > a.left {
			text-align: left;
			color: #FCF7BD;
		}
		
		a.left {
			text-align: left;
		}

		.halfwidthBox > a.anton {
			font-family: 'Anton', sans-serif;
			padding-bottom: 0.4rem;
		}

		.headerBox {
			height: auto;
		}

		.newsletter_green {
			background-color: #00be41;
		}

		.newsletter_purple {
			background-color: #d32efc;
		}

		.newsletter_yellow {
			background-color: #f7ea55;
		}

		.newsletter_cream {
			background-color: #fffff7;
		}

		/* Override color on each sticker element! */
		.sticker {
			border-radius: 50%;
			height: 30vw;
			width: 30vw;
			display: inline-block;
			position: absolute;
			z-index: 10000;
			/*box-shadow: 3px 3px 3px #999999;*/
		}

		.sticker.center {
			left: 50%;
			transform: translate(-50%, 115% - .5px);
			/*-webkit-filter: blur(0.000001px);
			-webkit-font-smoothing: antialiased;*/
		}

		.sticker.right {
			left: 75vw;
			transform: translate(-50%, 145% -.5px);
			height: 20vw;
			width: 20vw;
		}

		.sticker {
			transform: translate(-50%, 145% -.5px);
			height: 20vw;
			width: 20vw;
		}

		.sticker.left {
			margin-left: 0%;
		}
		.sticker.right > a {
			font-size: 3vw;
		}
		.sticker.right > a.big {
			font-size: 8vw;
		}

		.sticker > a {
			position: relative;
			font-family: 'anton', sans-serif;
			font-size: 4vw;
			color: white;
			display: block;
			text-align: center;
		}

		.rotate {
			transform: rotate(-15deg);
		}

		.sticker > a.big {
			top: 37%;
			font-size: 10vw;
		}

		.thanks {
			line-height: 1.8rem;
			font-family: 'anton', sans-serif;
			font-size: 1.4rem;
		}

		.thanks > span.big {
			font-size: 2.5rem;
		}
		
		iframe {
			border: none;
		}
	</style>
	<div class="container-fluid" id="forste_linje" style="overflow: hidden; max-width: 560px;">
		<div class="row center" style="max-height: 50vh">
			{# <img src="https://ukm.no/festivalen/files/2018/06/HBR1022apningsshow_foto_helen_roestum-768x904.jpg" style="object-fit: cover;" /> #}
			<div class="textOverlay headerTitle center" style="margin-top: -20%;">
				<span class="big center" style="letter-spacing: 0.05rem; font-size: 2.3rem;"></span>
			</div>
			<div class="" style="margin-top: 1rem; height: Calc( (100vw/16)*9);">
				{{ openingVideo.embedCodeVH()|raw }}
			</div>
		</div>

		<div class="row ticker newsletter_yellow">
			<marquee behavior="scroll" scrollamount="8" direction="left" style="padding-top: 0.3rem;">VELKOMMEN TIL NYHETSBREVET! KLIKK PÅ SAKENE FOR Å LESE MER</marquee>
		</div>

		{# HALVBREDDE-SAK #}
		<div class="row">
			{# <div class="UKMfestivalBox col-6 halfwidthBox clickContainer newsletter_green">
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton momClickMeClickMe" style="margin-top: 1.4rem; font-size: 2.3rem; padding-bottom: 0.2rem;">FESTIVAL-</a>
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton big" style="margin-top: 0.25em;margin-left:-0.05em;">GUIDEN</a>
			</div> #}
			<div class="UKMfestivalBox col-6 halfwidthBox center newsletter_green expandOnClick" style="letter-spacing: 0.2rem;">
				<a href="https://festivalen.ukm.no/2018/06/26/ukm-hvor-oredobbposer-og-silkeband-er-prioritetene-i-bagen/" data-articleBox-id=1 id="article-1" class="anton articleLink" style="margin-top: 25%; font-size: 1.4rem; padding-bottom: 0.2rem;">BEHIND THE</a>
				<a href="https://festivalen.ukm.no/2018/06/26/ukm-hvor-oredobbposer-og-silkeband-er-prioritetene-i-bagen/" data-articleBox-id=1 id="article-1" class="anton articleLink" style="margin-top: 5%; font-size: 2.6rem; padding-bottom: 0.2rem;">SCENES</a>
			</div>

			<div class="UKMfestivalBox col-6 halfwidthBox center expandOnClick" style="background-image: url('https://ukm.no/festivalen/files/2018/06/DSC0044Artikkelbilder_kunstutstillingaapning_Foto_Kristian_Andre_Halle-768x559.jpg'); background-position: 0,0;
			">
				<a href="https://festivalen.ukm.no/2018/06/26/valgte-ukm-over-japan/" class="anton momClickMeClickMe articleLink" data-articleBox-id=1 id="article-2" style="margin-top: 30%; font-size: 1.2rem; padding-bottom: 0.2rem;">FRA LATEXMASKE</a>
				<a href="https://festivalen.ukm.no/2018/06/26/valgte-ukm-over-japan/" class="anton momClickMeClickMe articleLink" data-articleBox-id=1 id="article-2" style="margin-top: 0%; font-size: 1.9rem; padding-bottom: 0.2rem;">TIL GOKART</a>
				{# <a href="https://festivalen.ukm.no/2018/06/26/valgte-ukm-over-japan/" class="left " style="font-family: 'Crimson Text', serif; font-size: 1.2rem; margin-top: 0rem;margin-left:-0.05em;">UKM? JA!</a> #}
			</div>
			<div class="clickContainer sticker right newsletter_yellow" style="margin-top: 34%;">
				<a class="momClickMeClickMe" style="font-size: 1.2rem; line-height: 1.2rem; margin-top: 1.15rem;color:black;">DAGENS</a>
				<a class="momClickMeClickMe" style="font-size: 0.7rem; line-height: 0.7rem; color:black;">HØYDEPUNKT</a>
			</div>
			<div class="clearfix"></div>
			<div class="col-12 articleBox newsletter_cream" id="articleBox-1" style="display:none;">
				<br />
				<div class="articleContent">
					Laster inn...
					<br />
					<br />
				</div>
				<div class="col-12 close center text-center">
					<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
					<br />
				</div>
			</div>
			{# <div class="UKMfestivalBox col-6 halfwidthBox" style="overflow:hidden;">
				<div class="row inline-row">
					<img src="https://media.giphy.com/media/wNOsMItba4FwY/giphy.gif">
				</div>
			</div> #}
			
		</div>
		{# FULLBREDDE-SAK #}
		<!-- TODO: SETT INN -->
		<div class="row fullwidthBox clickContainer" style="background-image: url('https://ukm.no/festivalen/files/2018/06/180636-UKM-Vannflaske-11-1-768x512.jpg'); background-size: 110%; background-position: 0px,-240px;
			">
			<div class="fullsizeTekst" style="margin-top: 47%; text-align: right;">
				<a href="https://tv.ukm.no/festivalen/2018/12987-Landsbykveld/" class="anton big right white momClickMeClickMe" style="letter-spacing: 0.08rem; position: relative; margin-right: 5%;">LANDSBYKVELD</a><br />
			</div>
		</div>
		<div class="clickContainer sticker left newsletter_purple" style="margin-top: -8%;">
			<a href="https://www.flickr.com/photos/ukm/albums" class="momClickMeClickMe rotate" style="font-size: 1.2rem; margin-top: 32%; color:black;">BILDER</a>
		</div>
		<div class="clearfix"></div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-2" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>
		{# <div class="row fullwidthBox  headerBox big center clickContainer" style=" padding-top: 0.6rem; padding-bottom: 0.2rem;">
			<a href="https://festivalen.ukm.no/category/workshop-foredrag/" class="anton center momClickMeClickMe" style="max-height: 0.1vw; font-size: 1.4rem; overflow-x: hidden;"></a>
		</div> #}
		<div class="row fullwidthBox newsletter_purple big center expandOnClick" style="color: white; padding-top: 0.6em; line-height: 2.15rem; background-image: url('https://ukm.no/festivalen/files/2018/06/intervj_preben_thomassen_foto_Sigurd-Johannes-Kristiansen-0088-768x511.jpg');">
			<div class="center" style="background-color: black; width: 80%; height: 9vh; line-height: 9vh; margin-left: auto; margin-right: auto; margin-top: 20%;">
				<a href="https://festivalen.ukm.no/2018/06/27/preben-begynte-a-danse-pa-et-bord-i-syden/" class="anton center articleLink momClickMeClickMe" style="font-size: 0.8rem; letter-spacing: 0.1rem;" data-articleBox-id=3 id="article-4">BEGYNTE Å DANSE PÅ ET BORD I SYDEN</a>
			</div>
		</div>
		<div class="col-12 articleBox newsletter_cream" id="articleBox-3" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>
		
		<div class="row ticker newsletter_purple clickContainer">
			<marquee behavior="scroll" scrollamount="5" direction="left" class="big" style="font-size: 1.6rem; padding-top: 0.4rem;">FORESTILLINGER UKM TV</marquee>
			<a href="https://tv.ukm.no/festivalen/2018/" class="d-none hidden momClickMeClickMe">FORESTILLINGER UKM TV</a>
		</div>
		
		<div class="row">
			<div class="UKMfestivalBox col-6 halfwidthBox newsletter_yellow expandOnClick">
				<a href="https://festivalen.ukm.no/2018/06/26/vans-sang-og-sokker-i-sandaler/" class="anton articleLink" data-articleBox-id=4 id="article-5" style="margin-top: 40%; font-size: 1.8rem; padding-bottom: 0.2rem;">HEI, ARTIST!</a>
			</div>
			<div class="UKMfestivalBox col-6 halfwidthBox" style="overflow:hidden;">
				<div class="row inline-row" style="background-image: url('https://media.giphy.com/media/3EfgWHj0YIDrW/giphy.gif'); background-size: 140%; background-position: center, center; ">
					<p>&nbsp;</p>
				</div>
			</div>
		</div>
		<div class="col-12 articleBox newsletter_cream" id="articleBox-4" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>

		<div class="row">
			<div class="UKMfestivalBox col-6 halfwidthBox newsletter_green">
				<div class="row inline-row" >
					<img src="https://media.giphy.com/media/ZY4iELUOD1a0M/giphy.gif">
				</div>
			</div>
			{# <div class="clickContainer sticker newsletter_yellow" style="left: 40%; margin-top: -10%;">
				<a href="https://pent.no/63.43048,10.39506" class="rotate momClickMeClickMe" style="color: black; font-size: 1rem; margin-top: 1rem;">VET IKKE ENNÅ</a>
			</div> #}
			<div class="clearfix"></div>

			<div class="UKMfestivalBox col-6 halfwidthBox newsletter_green expandOnClick" style="overflow:hidden;">
				<a href="https://festivalen.ukm.no/2018/06/27/hei-konferansier/" class="anton articleLink" data-articleBox-id=5 id="article-6" style="margin-top: 35%; font-size: 6rem; padding-bottom: 0.2rem;">HEI</a>
				<a href="https://festivalen.ukm.no/2018/06/27/hei-konferansier/" class="anton" style="font-size: 0.93rem; margin-top: 1.50rem; letter-spacing: 0.11rem;">KONFERANSIER!</a>
			</div>
		</div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-5" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>

		<div class="row fullwidthBox expandOnClick newsletter_purple" style="">
			<div class="fullsizeTekst center" style="margin-top: 8%;">
				<a href="https://festivalen.ukm.no/2018/06/27/slik-gikk-de-viralt-i-indonesia/" class="anton white articleLink" data-articleBox-id="6" id="article-7" style="color: white!important; font-size: 3.5rem; line-height: 3.5rem; letter-spacing: 0.08rem; position: relative;">SLIK GIKK DE</a><br />
				<a href="https://festivalen.ukm.no/2018/06/27/slik-gikk-de-viralt-i-indonesia/" class="anton white center" style="margin-top: 0%; font-size: 7rem; line-height: 7rem; letter-spacing: 0.1rem;">VIRALT</a>
			</div>
		</div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-6" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>

		<div class="row">
			<div class="UKMfestivalBox col-6 halfwidthBox clickContainer newsletter_yellow center" style="background-image: url('https://ukm.no/festivalen/files/2018/06/Klem-til-nyhetsbrevet-768x516.jpg'); background-position: 0,0;">
				<a href="https://festivalen.ukm.no/2018/06/27/kan-sahil-fa-100-klemmer/" class="momClickMeClickMe" style="font-size: 1.1em; color: white; line-height: 40vw; position: relative; top: 0%; margin-left: -5%;">KLEMMEFILMEN</a>
			</div>
			<div class="UKMfestivalBox col-6 center halfwidthBox newsletter_yellow expandOnClick">
				<a href="https://ukm.no/festivalen/2018/06/27/kjempevondt-og-slitsomt-men/" class="anton center momClickMeClickMe articleLink" data-articleBox-id="7" id="article-8" style="font-size: 3.2rem; line-height: 3rem; color: white; margin-top: 25%;">VONDT</a>
				<a href="https://ukm.no/festivalen/2018/06/27/kjempevondt-og-slitsomt-men/" class="anton center momClickMeClickMe" style="font-size: 1rem; color: white; line-height: 1rem; ">OG SLITSOMT, MEN...</a>
			</div>
			{# <div class="UKMfestivalBox col-6 halfwidthBox newsletter_purple" style="overflow:hidden;">
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton momClickMeClickMe" style="margin-top: 2.3rem; font-size: 5rem; padding-bottom: 0.2rem;">UKM</a>
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton" style="margin-top: 1em; margin-left:-0.05em;">STARTERPACK</a>
			</div> #}
		</div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-7" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>
		<div class="row fullwidthBox expandOnClick" style="background-image: url('https://ukm.no/festivalen/files/2018/06/180627-UKM-Backstage-36_Martha-Linnea-Pukallus-768x512.jpg');">
			<div class="fullsizeTekst" style="margin-top: 3rem; margin-left: 0.75rem;">
				<a href="https://ukm.no/festivalen/2018/06/27/reinsdyr-kanye-west-og-boblevann/" class="momClickMeClickMe articleLink" data-articleBox-id="8" id="article-9" style="font-size: 1.4rem; font-weight: bold; color: black; margin-left: 13%;">MIN BACKSTAGE-LISTE</a>
			</div>
		</div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-8" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>

		<div class="row">
			<div class="UKMfestivalBox col-6 halfwidthBox newsletter_green center" style="">
				<a href="https://festivalen.ukm.no/2018/06/27/sovnen-som-ikke-er-bra-for-deg/" class="anton center articleLink" data-articleBox-id=9 id="article-10" style="margin-top: 30%; font-size: 2.2em; letter-spacing: 0.08rem; color: white;">IKKE SOV</a>
				<a href="https://festivalen.ukm.no/2018/06/27/sovnen-som-ikke-er-bra-for-deg/" class="anton center" style="font-size: 1.3em; line-height: 1.4em; letter-spacing: 0.05rem; color: white;">- HILSEN ELINE</a>
			</div>
			<div class="UKMfestivalBox col-6 center halfwidthBox newsletter_yellow expandOnClick" style="background-image: url('https://ukm.no/festivalen/files/2018/06/RHD1589-768x577.jpg'); background-size: 150%; background-position: -30px, 0px;">
				<a href="https://festivalen.ukm.no/2018/06/27/kamp-om-gullsnoppen/" class="center articleLink" data-articleBox-id=9 id="article-10" style="font-size: 1.3rem; margin-top: 73%;">RUMPELDUNK</a>
			</div>
			{# <div class="UKMfestivalBox col-6 halfwidthBox newsletter_purple" style="overflow:hidden;">
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton momClickMeClickMe" style="margin-top: 2.3rem; font-size: 5rem; padding-bottom: 0.2rem;">UKM</a>
				<a href="https://tv.ukm.no/festivalen/2018/12930-Festival-guide/" class="anton" style="margin-top: 1em; margin-left:-0.05em;">STARTERPACK</a>
			</div> #}
		</div>

		<div class="col-12 articleBox newsletter_cream" id="articleBox-9" style="display:none;">
			<br />
			<div class="articleContent">
				Laster inn...
				<br />
				<br />
			</div>
			<div class="col-12 close center text-center">
				<button class="btn btn-block btn-outline-secondary closeButton">Lukk artikkel</button>
				<br />
			</div>
		</div>

		<div class="row fullwidthBox newsletter_yellow clickContainer">	
			<div class="center" style="margin-top: 8%;">
				<a href="https://tv.ukm.no/festivalen/2018/12988-Alarm-i-landsbyen/" class="white anton momClickMeClickMe" style="font-size: 3rem; line-height: 40vw;">ALARMEN I GÅR</a>
			</div>
		</div>

		<div class="clickContainer sticker rotate white left newsletter_purple" style="margin-top: -6%;">
				<a href="https://www.klemmalin.no/til-info" class="momClickMeClickMe" style="font-size: 1.2rem; margin-top: 22%; line-height: 1.2rem;">KLEM</a>
				<a href="https://www.klemmalin.no/til-info" style="font-size: 1.2rem; line-height: 1.2rem;">MALIN</a>
			</div>
			<div class="clearfix"></div>

		<div class="row fullwidthBox" style="background-image: url('{{ UKMasset('img/newsletter/korslaget.gif') }}') ; background-size: 125%; ">	
			<div class="center" style="margin-top: 30%">
				<span class="white anton">LYKKE TIL I KORSLAGET!</span>
			</div>
		</div>
		<div class="row fullwidthBox newsletter_purple" style="min-height: 20vh; height: auto;">
			<div class="col-xs-12 center thanks" style="color:black; letter-spacing:0.05rem; font-size: 1.3rem;">
				<br />
				<span>NYHETSBREVET KOMMER HVER </span><br />
				<span style="letter-spacing: 0.08rem;">DAG MED BILDER, VIDEOER, </span><br />
				<span>OG ANNET GØY FRA FESTIVALEN.</span><br />
				<br />
				<span class="big">SES I MORRA!</span>
				<br /><br />
			</div>
		</div>
	</div>

	<script type="text/javascript">
	$ ( document ).ready(function () {
		var latestArticle = null;
		$(".expandOnClick").click(function(event) {
			event.preventDefault();
			var link = jQuery(event.target).find(".articleLink");
			var articleBox = jQuery('.articleBox#articleBox-'+jQuery(link).attr('data-articleBox-id'));
			var articleContent = jQuery(articleBox).find(".articleContent");
			var newArticle = jQuery(link).attr('id');
			console.log(newArticle);
			var url = link.attr("href");
			
			if (undefined == url) {
				url = jQuery(event.target).attr("href");
			}

			if ( "{{ UKM_HOSTNAME }}" == "ukm.dev" ) {
				url = "https://ukm.dev/blog/2014/06/06/av-med-og-for-ungdom/?singleMode=true";
			}

			// Lukk samme artikkel
			if( articleBox.is(':visible') && latestArticle == newArticle ) {
				articleBox.slideUp();
				// Sleep 300ms??
				articleContent.html("Laster inn...");
			}
			// Ny artikkel, men en annen vises
			else if (latestArticle != null && latestArticle != newArticle) {
				articleContent.html("Laster inn...");

				jQuery.post(
					url+"?singleMode=true",
					{
						'singleMode': true,
					},
					function(data) {
						articleContent.html(data);
					},
				);
				latestArticle = newArticle;
			}
			// Første gang artikkelboks åpnes.
			else {
				articleBox.slideDown();

				jQuery.post(
					url+"?singleMode=true",
					{
						'singleMode': true,
					},
					function(data) {
						jQuery(articleBox).find(".articleContent").html(data);
					},
				);
				latestArticle = newArticle;
			}
		});

		$(".closeButton").click( function (event) {
			jQuery(event.target).parent().parent().slideUp();
			console.log(jQuery(event.target).parent().parent().attr("id"));
			scrollTo(jQuery(event.target).parent().parent().attr("id"));
		});
	});
	</script>
{% endblock %}

{% block css %}
	
{% endblock %}