{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
    <div class="container-fluid">
        {% if har_infoside %}
            <div class="row-flex mt-2">
                <div class="col-12 col-sm-12">
                    {{ infoside|raw }}
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}
        <div class="row-flex">
            <div class="col-12 col-md-4 col-xl-3 float-right mb-4">
                {% if pamelding.apen %}
                    {% include "UKMDesignBundle:Omrade:Pamelding.html.twig"|UKMpath %}
                {% else %}
                    {% include "UKMDesignBundle:Omrade:Husk.html.twig"|UKMpath with {fylkeid: omrade.getFylke().getId() } %}
                {% endif %}
            </div>

            <div class="col-12 col-md-8 col-xl-9 float-left mb-4">
            {% if not pamelding.apen %}
                <h3 class="mt-0">
                    UKM i din
                    {{ fylke.erOslo() ? 'bydel' : 'kommune' }}
                </h3>
            {% endif %}
                {% include "UKMDesignBundle:Fylke:VelgKommune.html.twig"|UKMpath with {fylke: omrade.getFylke()} %}
            </div>

            {% if not omrade.getArrangementer(sesong).har() %}
                <div class="col-12 col-md-4 col-xl-3 float-right mb-4">
                    <h3>Kontaktpersoner for {{ omrade.getNavn() }}</h3>
                    {% include "UKMDesignBundle:Omrade:Kontaktpersoner.html.twig"|UKMpath with {fullframe:true, navn: omrade.getNavn(), kontaktpersoner: omrade.getKontaktpersoner()} %}
                </div>
            {% else %}
                <div class="col-12 col-md-4 col-xl-3 float-right mb-4">
                    {% for arrangement in omrade.getArrangementer(sesong).getAll() if arrangement.erRegistrert() and arrangement.erSynlig() %}
                        {% include "UKMDesignBundle:Omrade:Arrangement.html.twig"|UKMpath with {visNettside: true} %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="clearfix"></div>

    <div class="container">
        {% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {singleMode:true, posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
    </div>
{% endblock %}