{% extends "UKMDesignBundle:Layout:_base.html.twig"|UKMpath %}

{% block content %}
	<div class="container-fluid">
		<div class="row-flex">

			<div class="col-12 col-md-4 col-lg-3 col-xl-2 float-right mb-4">
				<p class="lead">
					Vil du ha en gratis sms-påminnelse når påmeldingen åpner {{ THEME_CONFIG('pamelding').startdato }}?
				</p>
				{% embed "UKMDesignBundle:Husk:Form.html.twig"|UKMpath %}{% endembed %}
			</div>
			
			<div class="col-12 col-md-8 col-lg-9 col-xl-10 float-left mb-4">
				<h3>Velg hvor du bor</h3>
				{% embed "UKMDesignBundle:Fylke:lokalmonstringer_velg.html.twig"|UKMpath %}{% endembed %}
			</div>

			{% if not fylke.erRegistrert() %}
				<div class="col-12 col-md-4 col-lg-3 col-xl-10 float-right float-xl-left">
					{% embed "UKMDesignBundle:Layout:alert_icon.html.twig"|UKMpath with {level: 'primary', icon: 'info-with-circle'} %}
						{% block content %}
							Dato for UKM-festivalen i {{ fylke.getNavn() }} er ikke bestemt, men dette vil bli gjort snart. 
							I mellomtiden kan du sjekke om det er lagt inn info om ditt lokale UKM ved å velge din {{ fylke.erOslo() ? 'bydel' : 'kommune' }}.
						{% endblock %}
					{% endembed %}
				</div>
			{% endif %}
		</div>
	</div>
	{% if fylke.erRegistrert() %}
		<div class="clearfix my-3"></div>
		<div class="container-fluid">
			{% set singleMode = true %}
			{% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
		</div>
	{% endif %}
{% endblock %}