{% extends "UKMDesignBundle:Layout:_base.html.twig"|UKMpath %}

{% set sectionTitle = fylke.getNavn() %}

{% block content %}
	<div class="container-fluid">
		<div class="row-flex">

			<div class="col-12 col-md-4 col-lg-3 col-xl-2 float-right">
				<div class="card card-primary-light mb-3">
					<div class="card-body">	
						<p class="lead">
							Vil du ha en gratis sms når påmeldingen åpner?
						</p>
						{% embed "UKMDesignBundle:Husk:Form.html.twig"|UKMpath %}{% endembed %}
					</div>
				</div>
			</div>
			
			<div class="col-12 col-md-8 col-lg-9 col-xl-10 float-left">
				{% embed "UKMDesignBundle:Fylke:velg_lokalmonstring.html.twig"|UKMpath %}{% endembed %}
			</div>
			
			<div class="col-12 col-md-4 col-lg-3 col-xl-10 float-right float-xl-left">
				{% embed "UKMDesignBundle:Layout:alert_icon.html.twig"|UKMpath with {level: 'primary', icon: 'info-with-circle'} %}
					{% block content %}
						Dato for {{ fylke.getNavn() }} er ikke satt, men dette vil bli gjort snart. 
						I mellomtiden kan du sjekke om det er lagt inn info om ditt lokale UKM ved å velge din lokalmønstring.
					{% endblock %}
				{% endembed %}
			</div>
		

		</div>

	</div>
{% endblock %}