{% extends "Layout/_layout.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<h2>Velg {{ fylke.erOslo() ? 'bydel' : 'kommune' }}</h2>
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<div class="row">
					{% embed "UKMDesignBundle:Fylke:lokalmonstringer_liste.html.twig"|UKMpath %}{% endembed %}
				</div>
			</div>
		</div>
		<p class="my-4">
			<a href="{{ fylke.getLink() }}">Tilbake til {{ fylke.getNavn() }}</a>
		</p>
	</div>
{% endblock %}