<div class="page-menu">
	<div class="row">
		{% if harProgram %}
			<div class="col menu-item">
				<a href="program/">
					<div class="icon icon-calendar"></div>
					<div class="text">program</div>
				</a>
			</div>
		{% endif %}
		<div class="col menu-item">
			<a href="pameldte/">
				<div class="icon icon-users"></div>
				<div class="text">påmeldte</div>
			</a>
		</div>
		{% if harFylkeInfo and posts.getAntall() > 0 %}
			<div class="col menu-item">
				<a href="info/">
					<div class="icon icon-info-with-circle"></div>
					<div class="text">info</div>
				</a>
			</div>
		{% endif %}
		<div class="col menu-item">
			<a href="kontaktpersoner/">
				<div class="icon icon-mobile"></div>
				<div class="text">kontakt</div>
			</a>
		</div>
	</div>
</div>