<form action="http://husk.ukm.no/f-{{ fylkeid is defined ? fylkeid : 0 }}/k-0/" method="POST">
	<input type="tel" name="mobil" class="form-control " placeholder="Skriv inn ditt mobilnummer" required/>
	<p class="right my-0">
		<button type="submit" class="btn my-1 btn-outline-primary">Ja takk</button>
	</p>
</form>