{% extends "Layout/_layout.html.twig"|UKMpath %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-10 ml-md-auto mr-md-auto col-lg-8">
				<article>
					<h1>{{ page.getPage().title|raw }}</h1>
					{{ page.getPage().content|raw }}
				</article>
			</div>
		</div>
	</div>
{% endblock %}