<div class="header">
	<div class="row align-items-center py-1">
		<div class="col-12">
			<div class="float-left icon-container">
				<span class="icon icon-info-with-circle" style="font-size: 2.5em;"></span>
			</div>
			<p>
				Kort om UKM
			</p>
		</div>
	</div>
</div>
<div class="body pt-1 pb-2">
	<div class="row-flex">
		<div class="col-12">
			<ol class="">
				<li>
					UKM er for alle mellom 13 og 20 år.
					<br />
					<small>
						For grupper må mer enn halvparten være mellom 13 og 20 år.
					</small>
				</li>

				<li>
					Du kan melde på alt som kan vises frem på en scene eller i en utstilling.
				</li>

				<li>
					Mange steder kan du delta som arrangør, media eller konferansier.
				</li>
				<li>
					Noen steder kan du delta fra du er 10. 
					<br />
					<small>
						Se <a href="{{ Sitemap.getPage('UKM', 'derdubor') }}">din lokalside</a>
						for info.
					</small>
				</li>

			</ol>
		</div>
		<div class="clearfix"></div>
	</div>
</div>