{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	<div class="container-fluid">
	    {% embed "Layout/nav.html.twig" %}{% endembed %}
    </div>
{% endblock %}