<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<link rel="shortcut icon" href="http://grafikk.ukm.no/favicon.ico" />
		<link rel="alternate" type="application/rss+xml" href="{{blog.feed}}" title="{{blog.name}} RSS-feed" />
		{% embed "element/seo.twig.html" %}{% endembed %}
		
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300' type='text/css'>		
		<link href="{{url.theme_dir}}vendor/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link href="{{ url.theme_dir }}less/css/UKMresponsive.css?v4" rel="stylesheet">
		<script type="text/javascript" src="{{ url.theme_dir }}js/min/jquery-1.11.0.min-ck.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/min/UKMresponsive-ck.js?v2"></script>
		<script type="text/javascript">	 
		  var _gaq = _gaq || [];_gaq.push(['_setAccount', '{{SEO.analytics}}']);_gaq.push(['_trackPageview']);(function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();
		</script>
		<style type="text/css">{% block additional_css %}{% endblock %}</style>
		<script type="text/javascript">{% block additional_js %}{% endblock %}</script>
	</head>
	<body>
	{# FACEBOOK #}
	<div id="fb-root"></div>


	{% block header_pre %}
	{% endblock %}
	
	<header class="navbar navbar-static-top navbar-default" id="top" role="banner">
		{% block header %}
		<div class="container">
			{% block navbar %}
				{% block navbar_button %}
				<button type="button" class="pull-right navbar-toggle hidden-md hidden-lg" data-action="show" data-toggle="#ukm_mobile_nav" data-toggletitle="Hovedmeny" data-toggleclose="Lukk hovedmeny" data-showJumboUKM="true" id="show_main_mobile_menu">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				{% endblock %}
				{% block navbar_logo %}
				<div class="navbar-header">
					<a href="/" class="navbar-brand">
						<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
					</a>
				</div>
				{% endblock %}
				<nav role="navigation">
					{% block navbar_nav_left %}
					<ul class="nav navbar-nav hidden-xs hidden-sm">
						{% for nav in nav_top %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
					</ul>
					{% endblock %}
					{% block navbar_english %}
					<div class="pull-right hidden-xs hidden-sm">
						<a href="//ukm.no/about/">
							<img src="http://ico.ukm.no/flagg/uk-16.png" class="img img-circle" id="ico_international" />
						</a>
					</div>
					{% endblock %}
					{% block navbar_right %}
					<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
						{% for nav in nav_top_right %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
					</ul>
				</nav>
				{% endblock %}
			{% endblock %}
		</div>
		{% endblock %}
	</header>
	
	{% block header_post %}
	{% endblock %}
	
	
	
	{% block jumbo_pre %}
	{% endblock %}
		
	<div class="row">
		{% block jumbo %}
		<div class="ukm_page_jumbo">
			<div class="container">
				{% if stat_pameldte is defined %}
				<div class="pull-right pameldte hidden-xs hidden-sm">
					<div class="over">{{stat_pameldte.tall}}</div>
					<div class="under">Påmeldte til UKM {{stat_pameldte.til}}</div>
				</div>
				{% endif %}

				{% if jumbo.image is defined %}
					<img class="img img-circle pull-left" src="{{jumbo.image}}" id="ukm_page_jumbo_image" />
				{% endif %}
				<h1 id="ukm_page_jumbo_header">	
					{% block jumbo_header %}
						{{ jumbo is defined ? jumbo.header : 'UKM' }}
					{% endblock %}
				</h1>
				<h1 id="ukm_page_jumbo_header_temp" style="display:none;">UKM</h1>
				<p id="ukm_page_jumbo_content">
					{% block jumbo_content %}
						{{ jumbo is defined ? jumbo.content : '400 festivaler hvor ungdom deltar med all slags kultur' }}
					{% endblock %}
				</p>
				<p id="ukm_page_jumbo_temp" style="display:none;"></p>
			</div>
		</div>
		{% endblock %}
	</div>

	{% block jumbo_post %}
	{% endblock %}

	{% block content_container_pre %}
	{% endblock %}

	{% block content_container %}
	<div class="row">
		<div id="pagecontent">
			{# SIDEINNHOLD #}
		  	<div id="ukm_page_pre_content" class="container" style="display:none"></div>
		  	<div class="clearfix"></div>
		  	<div id="ukm_page_content" class="container">
			  	{% block content_pre %}{% endblock %}
			  	{% block content %}{% endblock %}
			  	{% block post_content %}{% endblock %}
			  	<div class="clearfix"></div>
		  	</div>
		  	<div class="clearfix"></div>
		  	<div id="ukm_page_post_content" class="container" style="display:none">
			  	<button id="pageDeFocus" class="btn btn-block btn-success"></button>
			  	<div class="clearfix"></div>
		  	</div>
		  	<div class="clearfix"></div>
		</div>
	{# EO SIDEINNHOLD #}
	</div>
	{% endblock %}
	
	{% block content_container_post %}
	{% endblock %}
	
	
	
	<div class="row">
	  	<div id="ukm_mobile_nav" style="display:none">
			{% for nav in nav_top %}
				<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="{{nav.url}}">UKM {{nav.title}}</a>
			{% endfor %}
			{% for nav in nav_top_right %}
				<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="{{nav.url}}">UKM {{nav.title}}</a>
			{% endfor %}
			<a class="btn btn-block btn-default {{nav.active?'active':''}}" href="//ukm.no/about">English</a>
	  	</div>
	  	<div class="clearfix"></div>
  	</div>
  	
  	
  	
  	
	
	<div class="row">
		<div id="footer" class="center">
			<div class="container">
				<a href="#top" class="pull-right btn-xs" style="margin-right:10px;">Til toppen</a>
			</div>
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-xs-12 center">
					<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" id="footerlogo" />
				</div>
				<div class="col-xs-12">
					<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no">
						UKM Norge <img src="//ico.ukm.no/cc-16.png" id="footerCC" alt="cc" /> {{"now"|date('Y')}}
					</a>
				</div>
				<div class="col-xs-12 hidden-xs hidden-sm">
					<a href="//om.ukm.no/kontakt/">Kontakt</a>
					&middot; 
					<a href="//om.ukm.no/vilkar/">Vilkår for bruk av innhold</a>
					&middot;
					<a href="//om.ukm.no/cookies/">Cookies</a>
				</div>
				<div class="visible-sm">
					<div class="row">
						<a class="btn btn-default" href="//om.ukm.no/kontakt/">Kontakt</a>
						&middot; 
						<a class="btn btn-default" href="//om.ukm.no/vilkar/">Vilkår for bruk av innhold</a>
						&middot;
						<a class="btn btn-default" href="//om.ukm.no/cookies/">Cookies</a>
					</div>					
				</div>
				<div class="col-xs-12 visible-xs">
					<a class="btn btn-default col-xs-12 col-sm-8 col-sm-offset-2" href="//om.ukm.no/kontakt/">Kontakt</a>

					<div class="clearfix visible-xs col-xs-12">&middot;</div>

					<a class="btn btn-default col-xs-12 col-sm-8 col-sm-offset-2" href="//om.ukm.no/vilkar/">Vilkår for bruk av innhold</a>

					<div class="clearfix visible-xs col-xs-12">&middot;</div>

					<a class="btn btn-default col-xs-12 col-sm-8 col-sm-offset-2" href="//om.ukm.no/cookies/">Cookies</a>
				</div>

			</div>

		</div>
		<div class="clearfix"></div>
	</div>
  </body>
</html>