<!DOCTYPE html>
<html lang="en">
  	<head>
		<meta charset="utf-8">
		<title>{% if page.title is empty %}UKM.no - Ungdommens kulturmønstring{% else %}{{page.title}}{% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="description" content="{{ post.lead }}">
		<meta name="author" content="{{ post.author.display_name }}">

		<link rel="canonical" href="{{post.url}}" />
		<meta property="og:title" content="{{post.title}}"/>
		<meta property="og:type" content="article" />
		<meta property="og:image" content="{{post.image.url}}" />
		<meta property="og:url" content="{{post.url}}" />
		<meta property="og:site_name" content="{{site.name}}" />
		<meta property="fb:admins" content="597605662" />

		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700' type='text/css'>
		
		<link href="{{url.theme_dir}}/vendor/bootstrap/3.0.1/css/bootstrap.css" rel="stylesheet">
		<link rel="stylesheet" href="{{ url.theme_dir }}css/jquery.pageslide.css">
		<link rel="stylesheet" href="{{ url.theme_dir}}css/linecons/style.css" />
		<link rel="stylesheet" href="{{ url.theme_dir}}css/swipebox.css" />

		<link href="{{ url.theme_dir }}style.css" rel="stylesheet/less">
	
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/jquery.timeago.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/jquery.autogrow.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/jquery.swipebox.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/jquery.fastlivefilter.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/UKMresponsive.js"></script>
	    <script type="text/javascript" src='https://www.google.com/jsapi'></script>
		<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>
		
		{#  !!! DEVELOPMENT SETTING !!!! #}
			<script>var less=less||{};less.env='development';</script>
		{#  !!! DEVELOPMENT SETTING !!!! #}
		<script type="text/javascript" src="{{ url.theme_dir }}js/less.min.js"></script>

		{# IVIEW #}
		{# <link rel="stylesheet" href="{{ url.theme_dir }}css/iview/iview.css" />
		<link rel="stylesheet" href="{{ url.theme_dir }}css/iview/skin4/style.css" />
		<script type="text/javascript" src="{{ url.theme_dir }}js/iview/raphael-min.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/iview/jquery.easing.js"></script>
		<script type="text/javascript" src="{{ url.theme_dir }}js/iview/iview.js"></script>
		#}
	</head>


  <body>
  
  {# FACEBOOK #}
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=123798094390466";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  

	<header class="navbar navbar-static-top" id="top" role="banner">
		<div class="container">
			<div id="menu-xs" class="pull-right hidden-md hidden-lg">
				<div class="btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
					For voksne og presse <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						{% for nav in nav_top %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
						<li></li>
						{% for nav in nav_top_right %}
						<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
			
			<div class="navbar-header">
				<a href="/" class="navbar-brand">
					<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" width="70" />
				</a>
			</div>
			
			<nav role="navigation">
				<ul class="nav navbar-nav hidden-xs hidden-sm">
					{% for nav in nav_top %}
					<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
					{% endfor %}
				</ul>
				<div class="pull-right">
					<a href="{{url.base}}about/">
						<img src="http://ico.ukm.no/flagg/uk-16.png" class="img img-circle" id="ico_international" />
					</a>
				</div>
				<ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
					{% for nav in nav_top_right %}
					<li {{nav.active?'class="active"':''}}><a href="{{nav.url}}">{{nav.title}}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</header>
	{% block jumbo %}
	<div class="ukm_page_jumbo">
		<div class="container">
			{% if jumbo.image is defined %}
				<img class="img img-circle pull-left" src="{{jumbo.image}}" id="ukm_page_jumbo_image" />
			{% endif %}
			<h1>	
				{% block jumbo_header %}
					{{ jumbo is defined ? jumbo.header : 'UKM' }}
				{% endblock %}
			</h1>
			<p id="ukm_page_jumbo_content">
				{% block jumbo_content %}
					{{ jumbo is defined ? jumbo.content : '400 festivaler hvor ungdom deltar med all slags kultur' }}
				{% endblock %}
			</p>
			<p id="ukm_page_jumbo_temp" style="display:none;"></p>
		</div>
	</div>
	{% endblock %}



  	<div id="ukm_page_pre_content" class="container" style="display:none"></div>
  	<div id="ukm_page_content" class="container">
	  	{% block content %}
	  	{% endblock %}
  	</div>
  	<div id="ukm_page_post_content" class="container" style="display:none">
	  	<button id="pageDeFocus" class="btn btn-block btn-primary"></button>
  	</div>






	<div id="footer" class="center">
		<a href="#top" class="pull-right btn-xs">Til toppen</a>
		<div class="row">
			<img src="http://grafikk.ukm.no/profil/logo/UKM_logo.png" id="footerlogo" />
		</div>
		<div class="row">
			<div class="col-xs-12 center">
				<p>
					<a href="//creativecommons.org/licenses/by-sa/3.0/deed.no">Alt innhold er CC-lisensiert (CC BY-SA 3.0)</a>
					<br class="visible-xs" />
					<a href="//om.ukm.local/kontakt/administrasjonen/">UKM Norge, Fjordgata 1, 7010 Trondheim</a>
				</p>
			</div>
		</div>
	</div>
	<div class="clearfix"></div>



  </body>
</html>