/* FADE-COLLAPSIBLE */
.fade-collapsible > .content {
  position: relative;
  max-height: 100px;
  overflow: hidden;
  transition: max-height 1s ease;
}
.fade-collapsible > .content.-expanded {
  max-height: 90vh;
  overflow: scroll;
}
.fade-collapsible > .content:not(.-expanded)::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(rgba(255, 255, 255, 0), #ffffff);
}
.fade-collapsible > .actions {
  text-align: center;
  cursor: pointer;
}
.fade-collapsible > .actions .dashicons {
  font-size: 2em;
}
