/* LAVENDEL */
/* PRIMARY */
/* LAVENDEL */
/*#931660;*/
/*@color-primary-dark;*/
/*@color-primary-dark-dark;*/
/* FILE: base.less */
/* TEXT-ALIGN */
@import "icomoon-entypo.css";
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}
.bold {
  font-weight: bold;
}
.click {
  cursor: pointer;
}
.alignleft {
  float: left;
}
.alignright {
  float: right;
}
.aligncenter {
  text-align: center;
}
.uppercase {
  text-transform: uppercase;
}
/* BUTTONS */
button {
  cursor: pointer;
}
/* LINKS */
a {
  color: #d75d0c;
  cursor: pointer;
}
a .nocolor {
  color: rgba(0, 0, 0, 0.85);
}
a:visited,
a:focus,
a:active,
a:hover {
  color: #d75d0c;
}
.wp-caption,
img {
  max-width: 100% !important;
  height: auto;
}
.menu-item {
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: .5em;
  color: #682d06 !important;
}
.menu-item:hover,
.menu-item a,
.menu-item a:visited,
.menu-item a:focus,
.menu-item a:active {
  text-decoration: none;
  color: #682d06 !important;
}
.menu-item a:hover {
  text-decoration: none;
  color: #f26d15 !important;
}
.menu-item .icon {
  font-size: 1.5em;
}
.header-line {
  border-bottom: 2px solid #f26d15;
  color: #f26d15;
  margin-bottom: .5em;
  text-transform: uppercase;
}
.text-color-primary {
  color: #f26d15;
}
.text-color-primary-dark {
  color: #d75d0c;
}
.text-color-primary-dark-dark {
  color: #682d06;
}
.text-color-primary-light {
  color: #f69a5d;
}
.text-color-primary-light-light {
  color: #f9b88e;
}
.background-color-primary {
  background-color: #f26d15;
}
.background-color-primary-dark {
  background-color: #d75d0c;
}
.background-color-primary-dark-dark {
  background-color: #682d06;
}
.background-color-primary-light {
  background-color: #f69a5d;
}
.background-color-primary-light-light {
  background-color: #f9b88e;
}
/** OVERUNDER **/
.overunder {
  text-align: center;
  font-weight: 400;
  color: inherit;
  text-rendering: optimizelegibility;
}
.overunder .over {
  text-align: center;
  line-height: 1.2em;
  font-size: 1em;
}
.overunder .under {
  text-align: center;
  font-size: .7em;
  line-height: 1em;
}
.overunder .over small {
  font-weight: normal;
  font-size: 14px;
  margin: 0px;
}
/* FILE: navbar.less */
/*#main_menu_button {
    margin: 7px 0px 0px 0px;
}
*/
.navbar-header {
  padding-top: 0.5rem;
  padding-bottom: 0rem;
  margin-bottom: 0rem;
}
.navbar-separator {
  margin-bottom: 1rem;
  border-bottom: 5px solid #f26d15;
}
#UKMslogan {
  color: #ffffff;
  font-size: 1.5rem;
  padding-top: 1rem;
}
@media (min-width: 992px) {
  #UKMslogan_container {
    margin-top: -3rem;
  }
}
@media (min-width: 1200px) {
  #UKMslogan {
    padding-bottom: 3.5rem;
    padding-top: 3.5rem;
    font-size: 3rem;
  }
}
#UKMslogan {
  /*	background: rgba(255,255,255,0.4);*/
}
#UKMlogo {
  margin-top: -0.4em;
}
.navbar-separator #skygge {
  height: 15vh;
  float: right;
  margin-top: -15vh;
  margin-right: 4vw;
}
.sectionTitle {
  font-size: 1.5em;
  font-weight: 100;
  color: #f26d15;
  padding-top: 0.75rem;
}
.navbar-with-slogan {
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url('//ukm.no/wp-content/themes/UKMresponsive_dev/_GRAFIKK_UKM_NO/img/banner-test.jpg');
  background-size: cover;
}
footer {
  padding-top: 2rem !important;
  padding-bottom: 2rem;
  border-top: 1px solid #e0e0e0;
  background: #f9f9f9;
  margin-bottom: 0px !important;
}
.sitemap .section .header {
  color: #f26d15;
  border-bottom: 4px solid #f26d15;
  text-transform: uppercase;
}
.sitemap .section .header a,
.sitemap .section .header a:visited {
  color: #f26d15;
  text-decoration: none;
}
.sitemap a,
.sitemap a:visited {
  color: #000;
}
/* BODY */
body {
  font-family: 'Helvetica Neue', Arial, freesans, sans-serif !important;
  color: #000;
  opacity: .85;
  line-height: 1.5em;
}
p {
  line-height: 1.5em;
}
/* FORMS */
label {
  margin-bottom: 0;
}
label + .help {
  margin-top: 0;
}
.help + .form-control {
  margin-top: .2em;
}
.form-control + .help {
  margin-top: .4em;
}
.help {
  font-size: .8em;
  line-height: 1.2em;
  font-style: italic;
  margin-bottom: .2em;
}
.form-control {
  border-color: #f9b88e;
}
.form-control:focus {
  border-color: #f26d15;
  transition-duration: 0.20s;
  transition-timing-function: ease-in;
  transition-property: border-color;
}
/* PRIMARY BUTTONS */
.btn-primary,
a.btn-primary,
.btn-primary:hover,
a.btn-primary:hover,
.btn-primary:active,
a.btn-primary:active,
.btn-primary:visited,
a.btn-primary:visited,
.btn-primary:focus,
a.btn-primary:focus {
  background-color: #f26d15;
  border-color: #f26d15;
  color: #fff !important;
}
.btn-danger {
  background: #a2325b;
  border-color: #7d0e4e;
  color: #ffffff !important;
}
.text-danger {
  color: #7d0e4e !important;
}
.btn-outline-primary,
.btn-outline-primary:visited {
  background-color: transparent;
  border-color: #f26d15 !important;
  color: #f26d15 !important;
}
.btn-outline-primary:hover {
  background-color: transparent;
  border-color: #d75d0c !important;
  color: #d75d0c !important;
}
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn-outline-primary:active:focus {
  background-color: #f26d15 !important;
}
.btn-outline-primary:focus,
.btn-outline-primary:active {
  color: #fff !important;
}
/* SECONDARY BUTTONS */
.btn-secondary,
a.btn-secondary,
.btn-secondary:hover,
a.btn-secondary:hover,
.btn-secondary:active,
a.btn-secondary:active,
.btn-secondary:visited,
a.btn-secondary:visited,
.btn-secondary:focus,
a.btn-secondary:focus {
  background-color: #a2325b;
  border-color: #a2325b;
  color: #fff !important;
}
.btn-outline-secondary,
.btn-outline-secondary:visited {
  background-color: transparent;
  border-color: #a2325b !important;
  color: #a2325b !important;
}
.btn-outline-secondary:hover {
  background-color: transparent;
  border-color: #68203a !important;
  color: #68203a !important;
}
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn-outline-secondary:active:focus {
  background-color: #a2325b !important;
}
.btn-outline-secondary:focus,
.btn-outline-secondary:active {
  color: #fff !important;
}
/* FONTS */
small,
.small {
  font-size: .8em;
  line-height: 1.2em;
}
.lead {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: 300;
  line-height: 1.5em;
}
/* HEADERS */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  opacity: .85;
}
h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  margin-top: 1.2em;
}
h2 {
  font-size: 1.4em;
  margin-top: 1.2em;
  margin-bottom: .2em;
}
h3 {
  margin-top: 1.3em;
  font-size: 1.15rem;
  opacity: .9;
}
/* BADGES */
.badge-square {
  border-radius: 0;
}
.badge-primary {
  background-color: #f26d15;
  border-color: #f26d15;
}
/* ALERTS */
.alert-primary {
  background-color: #f9b88e;
  border-color: #d75d0c;
  color: #d75d0c !important;
}
.alert.alert-danger {
  background-color: #a2325b;
  border-color: #7d0e4e;
  color: #ffffff !important;
}
/* BACKWARDS COMPAT */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
/* FILE: post.less */
/* GRID VIEW: PRETTY */
.post {
  padding: 0;
  margin: 0;
  margin-bottom: 6px;
}
.post-grid-pretty {
  background: #f69a5d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 15em;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: 1em;
}
.post-grid-pretty > header > p {
  font-size: 0.8em;
  color: white;
  margin-bottom: 0;
}
.post-grid-pretty > header {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: .5em 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#606060+2,545454+99&0+1,0.65+94 */
  background: -moz-linear-gradient(top, rgba(96, 96, 96, 0) 1%, rgba(96, 96, 96, 0.01) 2%, rgba(85, 85, 85, 0.65) 94%, rgba(84, 84, 84, 0.65) 99%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(96, 96, 96, 0) 1%, rgba(96, 96, 96, 0.01) 2%, rgba(85, 85, 85, 0.65) 94%, rgba(84, 84, 84, 0.65) 99%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(96, 96, 96, 0) 1%, rgba(96, 96, 96, 0.01) 2%, rgba(85, 85, 85, 0.65) 94%, rgba(84, 84, 84, 0.65) 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00606060', endColorstr='#a6545454', GradientType=0);
  /* IE6-9 */
}
.post-grid-pretty > header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.post-grid-pretty > header > h1 {
  font-size: 1.5em;
  margin: 0;
  margin-top: .5em;
  color: white;
  position: relative;
  z-index: 1;
  opacity: 1;
}
* {
  box-sizing: border-box;
}
@media (min-width: 1200px) {
  .post-grid-pretty {
    height: 20em;
  }
  .post-grid-pretty > header > p {
    font-size: 1em;
  }
  .post-grid-pretty > header > h1 {
    font-size: 2em;
  }
}
/* GRID VIEW: DEFAULT */
.post-grid-default {
  margin-bottom: 1em;
}
.post-grid-default .image {
  background: #f69a5d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  padding-bottom: 66%;
  margin: 0;
  margin-bottom: 0.1em;
}
a .post-grid-default {
  color: #000 !important;
}
/* SINGLE POST */
#the_post_image {
  margin: 0;
  margin-top: -1em;
  margin-bottom: 1em;
  height: 40vh;
  width: 100vw;
  background: #f69a5d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (min-width: 576px) {
  #the_post_image {
    height: 50vh;
  }
}
@media (min-width: 768px) {
  #the_post_image {
    height: 70vh;
  }
}
.postmeta {
  font-size: .9em;
  border-top: 1px solid #f69a5d;
  border-bottom: 1px solid #f69a5d;
  margin-bottom: 1em;
}
@media (min-width: 768px) {
  .madeby {
    text-align: right;
  }
  .madeby .contact {
    margin-bottom: 1em !important;
  }
  .madeby .contact .image {
    float: right !important;
    margin-right: 0 !important;
    margin-left: 1em !important;
  }
}
.madeby {
  font-size: .9rem;
}
.madeby .contact {
  margin: .3em;
}
.madeby .contact .image {
  float: left;
  margin-right: 1em;
}
.madeby .contact .image img {
  height: 2.5em;
}
.madeby .contact .info .name {
  text-transform: capitalize;
  font-weight: bold;
  line-height: 1.1em;
  color: #f26d15;
  margin: 0;
  margin-bottom: .2em;
}
.madeby .contact .info .title {
  font-size: .9em;
  line-height: 1em;
}
/*
 * PLAY ICON FOR FEATURED IMAGE
 * (video on top)
**/
.featured-image-play {
  position: absolute;
  width: 5em;
  top: Calc( 50% - 2.5em );
  left: Calc( 50% - 2.5em );
  opacity: 0.92;
}
.post-grid-default .featured-image-play {
  top: 14%;
  width: 20%;
  left: 40%;
}
/* FILE: page.less */
.UKMblock.UKMblockImage .image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.UKMblock {
  margin-bottom: 10vh;
  margin-top: 10vh;
  font-size: 1.3em;
  min-height: 20vh;
}
.UKMblock p {
  font-weight: 200;
}
@media (min-width: 768px) {
  .UKMblock {
    font-size: 2em;
    font-weight: 100;
  }
}
.UKMblock blockquote {
  font-size: 1.2em;
}
@media (min-width: 768px) {
  .UKMblock {
    font-size: 1.5em;
  }
  .UKMblock blockquote {
    font-size: .9em;
  }
}
@media (max-width: 767px) {
  .UKMblock .image {
    height: 45vh;
  }
}
.UKMblock .text > h1,
.UKMblock .text > h2 {
  margin-top: 0em;
}
blockquote {
  font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1.33rem;
  font-weight: 300;
  line-height: 1.5em;
  /* margin-left: 4em; */
  padding-left: 4em;
}
blockquote:before {
  background-image: url('https://trudymorgancole.files.wordpress.com/2007/08/quotes1.jpg');
  content: '';
  background-repeat: no-repeat;
  display: inline-grid;
  background-size: contain;
  float: left;
  /* margin-right: 20px; */
  height: 100%;
  padding: 1.4em;
  margin-left: -4em;
  margin-right: 0;
  opacity: .85;
}
cite {
  font-size: 1rem;
}
.card-primary-light {
  background-color: #f9b88e;
}
.UKMtoggleContent#UKMtoggleLokal {
  display: none;
}
@media (min-width: 768px) {
  .UKMtoggleContent#UKMtoggleLokal {
    display: block;
    display: flex;
  }
}
.kontaktperson-bilde {
  padding-bottom: 66%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.fylkesfestival {
  background: #f26d15;
  color: #fff;
}
.fylkesfestival-banner {
  background: #f26d15;
  color: #fff;
}
.fylkesfestival-banner .title {
  font-size: 1.5rem;
  font-weight: 100;
}
.fylkesfestival-banner-menu-container {
  margin-left: -15px !important;
  margin-right: -15px !important;
}
.fylkesfestival-banner-menu {
  background: rgba(184, 157, 204, 0.17);
  border: none;
  border-bottom: 2px solid #f26d15;
  border-top: none;
  margin-top: -1px !important;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
}
@media (min-width: 992px) {
  .fylkesfestival-banner-menu {
    border-left: 2px solid #f26d15;
    border-right: 2px solid #f26d15;
  }
}
.calendar {
  /*
	border: 3px solid @color-primary-dark;
	box-shadow: 5px 5px @color-primary-dark-dark;
*/
}
.calendar > .month {
  /*	
	background: @color-primary-dark;
*/
}
.calendar > .day {
  font-size: x-small;
}
.calendar > .dato {
  font-size: 2em;
}
.program .dag h4 {
  font-size: .8em;
  line-height: 1.2em;
  text-transform: uppercase;
  border-bottom: 2px solid rgba(0, 0, 0, 0.65);
  color: rgba(0, 0, 0, 0.65);
}
.program .hendelse {
  min-width: 15em;
  padding: .5em;
  margin: .5em 0;
}
.program .hendelse > .time {
  float: left;
  margin-right: 1em;
}
.program .hendelse > .data {
  margin-left: 4em;
}
.program .hendelse > .data > .tittel {
  font-weight: bold;
}
.frister .header-line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.65);
  color: rgba(0, 0, 0, 0.65);
  margin-bottom: .5em;
}
.UKMfavoritt .header {
  background: #f26d15;
  color: #fff;
}
.UKMfavoritt .body {
  border: 2px solid #f26d15;
  border-top: none;
}
@media (max-width: 767px) {
  .mitt_UKM {
    margin-left: Calc(-1em + 1px);
    margin-right: Calc(-1em + 1px);
  }
}
/* FILE: delta.less */
.delta-header {
  border-bottom: 3px solid #f26d15;
}
/*** ***/
.delta-home {
  padding-right: 7em;
  /*padding-top: 2em;*/
  padding-top: 0.5em;
  margin-right: 0.2em;
}
.delta-home button {
  display: block;
  position: absolute;
  background-color: white;
  padding-top: 3px;
  padding-left: 0.6em;
  padding-right: 0em;
  border: 1px solid #f26d15;
  border-radius: 5px;
}
.delta-home img {
  margin: -1px 2px 2px 5px;
  height: 28px;
}
.delta-danger {
  /*width: 95%;*/
}
ul.innslag li a,
ul.innslag li a:focus,
ul.innslag li a:visited {
  color: #000;
}
/*
.delta-form textarea {
	border-radius: 2px;
	border: 1.5px solid @color-primary;
}

.delta-input {
	border-radius: 2px;
	border: 1.5px solid @color-primary;
}
*/
/* FILE: open-sans.less */
/* FROM //fonts.googleapis.com/css?family=Open+Sans:300,400,700 */
/* cyrillic-ext */
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTYjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(//fonts.gstatic.com/s/opensans/v15/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v15/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(//fonts.gstatic.com/s/opensans/v15/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzIjoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(//fonts.gstatic.com/s/opensans/v15/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.navbar-with-slogan {
  background-image: url('//grafikk.ukm.no/UKMresponsive/img/banner-test-gul-ish.jpg');
}
