<div class="col-xs-12">
	{% if lokalmonstringer.felles is defined %}
		<ol class="list-unstyled lokalmonstringer">
			{% for monstring in lokalmonstringer.felles %}
				<li class="lokalmonstring" style="padding-top: 2px; padding-bottom: 2px;">
					<a href="{{monstring.url}}" class="btn btn-block btn-default">
						{{ monstring.pl_name }}
						<br />
						<small>
							({% for kommune in monstring.kommuner %}
								{{ kommune }} {{ loop.last ? '' : ', ' }}
							{% endfor %})
						</small>
					</a>
				</li>
			{% endfor %}
		</ol>	
	{% endif %}
</div>

<div class="col-xs-12 col-sm-6">
	<ol class="list-unstyled lokalmonstringer">
		{% for monstring in lokalmonstringer.first_half %}
			<li class="lokalmonstring" style="padding-top: 2px; padding-bottom: 2px;"><a href="{{monstring.url}}" class="btn btn-block btn-default">{{ monstring.navn }}</a></li>
		{% endfor %}
	</ol>
</div>
<div class="col-xs-12 col-sm-6">
	<ol class="list-unstyled lokalmonstringer">
		{% for monstring in lokalmonstringer.second_half %}
			<li class="lokalmonstring" style="padding-top: 2px; padding-bottom: 2px;"><a href="{{monstring.url}}" class="btn btn-block btn-default">{{ monstring.navn }}</a></li>
		{% endfor %}
	</ol>
</div>