{#
    usage: {monstring_type:"lokal|fylke|festival"}
    will print "Mønstringside" if undefined.
#}

{% if monstring_type == "lokal" %}
    {% if monstring.kommuner|length > 1 %}
        <h1>Lokalside for 
            {% for kommune in monstring.kommuner %} 
                {% if loop.first %} {{ kommune.name }}
                {% elseif not loop.last %}, {{ kommune.name }}
                {% else %} og {{ kommune.name }}
                {% endif %} 
            {% endfor %}
        </h1>
    {% else %}
        <h1>Lokalside for {{ monstring.kommuner[0].name }}</h1>
    {% endif %}

{% elseif monstring_type == "fylke" %}
    <h1>Fylkesside for {{monstring.navn|raw}}</h1>
{% elseif monstring_type == "festival" %}
    <h1>UKM-festivalen</h1>
{% else %}
    <h1>Mønstringside</h1>
{% endif %}