{# 
    usage: {"time_verb":"er|var"} 
#}

{% if time_verb is not defined %}
    Mønstringen er ikke klargjort
{% else %}
    {% if monstring.starter|dato("l j") != monstring.slutter|dato("l j") %}
       {% if type is defined %}
        {{type}}mønstringen
       {% else %}
       	Mønstringen
       {% endif %} {{time_verb}} fra {{monstring.starter | dato("l j. F")}} til {{monstring.slutter | dato("l j. F")}} i {{monstring.sted}}
    {% else %}
        {% if type is defined %}
        {{type}}mønstringen
       {% else %}
       	Mønstringen
       {% endif %} {{time_verb}} {{ monstring.starter | dato("l j. F") }} i {{monstring.sted}}
    {% endif %}
{% endif %}


