{% for i in 1..4 %}
    {% if posts[i] is defined %}
        <div class="col-xs-4 fylke_news_post"> 
	        <a href="{{ posts[i].url}}">
				<div class="grid_post_image" style="background-image: url('{{posts[i].image.url}}');"></div>
	            <h3> {{ posts[i].title }} </h3>
	            <p><strong style="color:#000;">&gt;</strong> {{ posts[i].lead | raw }}</p>
	            <span>Les mer</span>
	        </a>
        </div>
    {% endif %}

    {% if loop.index is divisibleby(3) %}
        <div class="clearfix"></div>
    {% endif %}
{% endfor %}