{% extends "layout.twig.html" %}

{#  @TODO: implement this view
 #  Should be a login form (must have input fields with names ukm_user & ukm_pass )
 #
 #  When login fails, you have to output a error message:
 #  {% if login == false %}
 #  <output error message>
 # {% endif %}
 #}
 
 {% block content %}
    <div>
        Her kommer innloggingssiden, fordi du er ikke logget inn!
    </div>
        
    <div id="intranett_login" class="col-md-6">
        <h3>Intranett</h3>
        <form class="form-horizontal" role="form" action="#">
            <div class="form-group">
                <label for="ukm_user" class="col-sm-2 control-label">Brukernavn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user" name="ukm_user" placeholder="Email">
                </div>
            </div>
            
            <div class="form-group">
                <label for="ukm_pass" class="col-sm-2 control-label">Passord</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="ukm_pass" name="ukm_pass" placeholder="Email">
                </div>
            </div>
            <button type="submit" class="btn btn-default pull-right">Logg inn</button>
        </form>
    </div>

    <div id="wp_login" class="col-md-6">
        <h3>Wordpress</h3>
        <form class="form-horizontal" role="form" action="#">
            <div class="form-group">
                <label for="ukm_user" class="col-sm-2 control-label">Brukernavn</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="user" name="ukm_user" placeholder="Email">
                </div>
            </div>
            
            <div class="form-group">
                <label for="ukm_pass" class="col-sm-2 control-label">Passord</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="ukm_pass" name="ukm_pass" placeholder="Email">
                </div>
            </div>
            <button type="submit" class="btn btn-default pull-right">Logg inn</button>
        </form>
    </div>
    
 {% endblock %}