{% extends "layout.twig.html" %}

{#  @TODO: implement this view
 #  Should be a login form (must have input fields with names ukm_user & ukm_pass )
 #
 #  When login fails, you have to output a error message:
 #  {% if login == false %}
 #  <output error message>
 # {% endif %}
 #}
 
 {% block content %}
    
    <div id="intranett_login" class="centered col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <h2>Innlogging for arrangører</h2>
        <form method="post" class="form-horizontal" role="form" action="">
            <div class="form-group">
                <label for="ukm_user" class="control-label">Brukernavn</label>
                <input type="text" class="form-control" id="ukm_user" name="ukm_user" placeholder="Brukernavn">
            
                <label for="ukm_pass" class="control-label">Passord</label>
                <input type="password" class="form-control" id="ukm_pass" name="ukm_pass" placeholder="Passord">
            </div>
            <button type="submit" class="btn btn-default pull-right">Logg inn</button>
        </form>
    </div>
    <div class="clearfix"></div>

    <div id="wp_login" class="centered col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <h4>Kun redigere nettside</h4>
        <form method="post" class="form-horizontal col-xs-12" role="form" action="">
            <div class="form-group">
                <label for="ukm_user_wp" class="input-sm control-label">Brukernavn</label>
                <input type="text" class="input-sm form-control" id="ukm_user_wp" name="ukm_user_wp" placeholder="Brukernavn">
            
                <label for="ukm_pass_wp" class="input-sm control-label">Passord</label>
                <input type="password" class="input-sm form-control" id="ukm_pass_wp" name="ukm_pass_wp" placeholder="Passord">
            </div>
            <button type="submit" class="btn btn-xs btn-default pull-right">Logg inn</button>
        </form>
    </div>
    <div class="clearfix"></div>
    
 {% endblock %}