{% extends "layout.twig.html" %}
{% block content %}
	<div class="container">
		{% for hendelse in hendelser %}
		<div class="row">
			<div class="col-xs-12">
				<h2>{{ hendelse.navn }}</h2>
			</div>
			
			
			
			
			<div id="slider_{{hendelse.ID}}" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
				{% for innslag in hendelse.innslag %}
					{% for bilde in innslag.bilder %}
					<li data-target="#myCarousel" data-slide-to="{{loop.index-1}}" {{ loop.first ? 'class="active"' : '' }}></li>
					{% endfor %}
				{% endfor %}
				</ol>
				
				<div class="carousel-inner">
				{% for innslag in hendelse.innslag %}
					{% for bilde in innslag.bilder %}

					<div class="item {{ loop.first ? 'active' : '' }}" style="background-image:url({{ bilde.link }})">
		                <div class="container">
		                    <div class="carousel-caption">
		                        <p>{{ innslag.navn }}</p>
		                    </div>
		                </div>
		            </div>
					{% endfor %}
				{% endfor %}
				</div>
			    <a class="left carousel-control" href="#{slider_{{hendelse.ID}}" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
				<a class="right carousel-control" href="#{slider_{{hendelse.ID}}" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>			
		</div>
		{% endfor %}
	</div>
{% endblock %}