{% extends "view/page.twig.html" %}

{% block content %}
	{{parent()}}
	<h2>Så lenge du følger disse to:</h2>
	<div class="col-xs-11 col-xs-offset-1">
		<p>
			<strong>
				OBS: Dette er et menneske-lesbart sammendrag av (men ingen erstatning for) den 
				<a href="http://creativecommons.org/licenses/by-sa/3.0/legalcode">juridiske lisensteksten</a>.
			</strong>
		</p>	
		
	
		<h3>1. Oppgi at du har hentet det fra UKM.no</h3>
		<p>
			<img class="cc_icon pull-left" alt="" src="http://grafikk.ukm.no/cc/by.png" width="64" height="64" />
			<strong>Navngivelse</strong> 
			— Du må <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no#">navngi lisensgiver</a>,
			oppgi en lenke til lisensen, 
			og <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no#">indikere om det er gjort endringer</a>.
			Du kan gjøre dette på en rimelig måte, men ikke på en måte som på noe vis indikerer at lisensgiver bifaller deg eller din bruk.
		</p>
		<div class="clearfix"></div>
		
		<h3>2. Bruk samme lisens</h3>
		<img class="cc_icon pull-left" alt="" src="http://grafikk.ukm.no/cc/sa.png" width="64" height="64" />
		<p>
			<strong>DelPåSammeVilkår</strong>
			— Dersom du remixer, bearbeider eller bygger på materialet, 
			må du distribuere dine bidrag under 
			<a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no#">samme lisens</a> som originalen.
			<br />
			<strong>Det vil si:</strong> du har ikke lov til å ta kopirett på et produkt basert på, eller som inneholder, elementer/innhold fra UKM.no
		</p>
	</div>	
	
	<div class="clearfix"></div>

	<h2>Kan du:</h2>
	<div class="col-xs-11 col-xs-offset-1">
		<h3>1. Dele som det er</h3>
		<p>
			<strong>Dele</strong>
			— kopiere, distribuere og spre verket i hvilket som helst medium eller format
		</p>
		<h3>2. Bearbeide slik du ønsker, og dele det</h3>
		<p>
			<strong>Bearbeide</strong>
			— remixe, endre, og bygge videre på materialet
			til et hvilket som helst formål, inkludert kommersielle.
			<br />
		</p>
	</div>


<h2>Notiser</h2>
<h3>Respekt ved gjenbruk</h3>
<p>
	Alle tekster publisert på UKM.no er publisert under ovenstående lisens.
	Vi ber om respekt for journalistens/fotografens meninger og ytringer, og at all gjenbruk i størst mulig grad tar hensyn til dette.
</p>

<h3>Brudd på rettigheter</h3>
<p>
	Kopiering, nedlasting eller bruk i strid med <a href="http://creativecommons.org/licenses/by-sa/3.0/deed.no#">UKMs rettigheter</a> 
	(oppsummert ovenfor) kan medføre erstatnings- og/eller straffansvar.
</p>

<h3>Deling på nett</h3>
<p>
	UKM aksepterer (og oppfordrer til) bruk av pekere til UKM.no fra andre nettsteder. 
	Du kan også dele innholdet og gjøre andre oppmerksom på innholdet via andre sosiale media.
</p>

<h3>Spørsmål?</h3>
<p>
	Eventuelle spørsmål rettes til <a href="//om.ukm.no/kontakt/administrasjonen/">UKM Norge</a>
</p>
{% endblock %}