{% extends "layout.twig.html" %}

{% block content %}

	{% embed "element/backtoUKM.twig.html" %}{% endembed %}
	<div class="row">
    <script>
	    $(document).ready(function(){
		    jQuery('div.limitme iframe').css('max-width','100%');
		});
	</script>
        <div class="col-xs-6">
        	<h2>{{hendelse_left.navn}} <small>{{hendelse_left.start | dato('l d.M')}} kl.{{hendelse_left.start | dato('H:i' )}}</small></h2>
        	<p>{{hendelse_left.sted}}</p>
        	
        	<div class="clearfix"></div>
        	<div class="hidden-xs limitme" style="max-width:100%!important;">
				{{ hendelse_left.embed|raw }}
        	</div>
        	<div class="visible-xs">
	        	<a class="btn btn-primary" href="{{ hendelse_left.link }}" target="_blank">Se direktesending</a>
        	</div>
        	<div class="clearfix"></div>
        	
        	<h3>Programmet</h3>
        	<ol class="list-unstyled">
        		{% for innslag in hendelse_left.rekkefolge %}
        			{% embed "element/innslag.twig.html" with {'showIndex': true, 'hideHamburgerXs': true} %}{% endembed %}
        		{% else %}
        			<li class="">
        				<p>&nbsp;</p>
        				<p><strong>Det er ikke satt opp noen innslag i denne hendelsen</strong></p>
        				<p>&nbsp;</p>
        			</li>				
        		{% endfor %}
        	</ol>
        </div>

        <div class="col-xs-6">
        	<h2>{{hendelse_right.navn}} <small>{{hendelse_right.start | dato('l d.M')}} kl.{{hendelse_right.start | dato('H:i' )}}</small></h2>
        	<p>{{hendelse_right.sted}}</p>
        	
        	<div class="clearfix"></div>
        	<div class="hidden-xs limitme" style="max-width:100%!important;">
				{{ hendelse_right.embed|raw }}
        	</div>
        	<div class="visible-xs">
	        	<a class="btn btn-primary" href="{{ hendelse_right.link }}" target="_blank">Se direktesending</a>
        	</div>
        	<div class="clearfix"></div>
        	
        	<h3>Programmet</h3>
        	<ol class="list-unstyled">
        		{% for innslag in hendelse_right.rekkefolge %}
        			{% embed "element/innslag.twig.html" with {'showIndex': true, 'hideHamburgerXs': true} %}{% endembed %}
        		{% else %}
        			<li class="">
        				<p>&nbsp;</p>
        				<p><strong>Det er ikke satt opp noen innslag i denne hendelsen</strong></p>
        				<p>&nbsp;</p>
        			</li>				
        		{% endfor %}
        	</ol>
        </div>
	</div>
	<div class="row">
		<a href="{{url.blog}}program/"><button class="btn btn-block btn-success">Tilbake til rammeprogrammet</button></a>
	</div>
{% endblock %}
