{% extends "layout.twig.html" %}

{% block content %}
    {# Tittel #}
    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"fylke"} %}
    {% endembed %}
    
    <div class="col-xs-12 col-md-5 pull-right">
        {% embed "element/monstring/monstring_navigasjon.twig.html" %}
        {% endembed %}
    </div>
    
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>
    
    <div class="col-xs-12 col-md-5 pull-right">
        <h3>Lokalmønstringer</h3>
        <div class="hidden-lg hidden-md">
            <button class="btn btn-medium btn-primary toggle" data-action="show" data-toggle="#lokalmonstringer_slide">Vis lokalmønstringer</button>
        </div>
        <div class="visible-lg visible-md" style="display:none" id="lokalmonstringer_slide">
            {% embed "element/monstring/lokalmonstringer_liste.twig.html" %}
            {% endembed %}
        </div>
    </div>
    <div class="visible-xs visible-sm hidden-md hidden-lg clearfix"></div>
    
    {% if nextpost|length > 0 or prevpost|length > 0 %}
        <div style="clear:both;"></div>
    {% endif %}
    
    {% if nextpost|length > 0 %}
	<div class="col-xs-4 col-sm-2 pull-right">
		<a href="{{ nextpost|raw }}"><button type="button" class="btn btn-default">Se flere nyheter</button></a>
	</div>
	{% endif %}
	
	{% if prevpost|length > 0 %}
	<div class="col-xs-4 col-sm-2 pull-left">
	      <a href="{{ prevpost|raw }}"><button type="button" class="btn btn-default">Se forrige nyheter</button></a>
	</div>
	{% endif %}


    

    {# @TODO: add kontaktinfo #}

{% endblock %}





