{% extends "layout.twig.html" %}

{% block content %}
    <h1>Fylkesside</h1>
    
    
    <div class="col-xs-12 col-md-7 col-md-pull-left">
        {% embed "element/fylke/lokalmonstring.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-5">
        {% embed "element/fylke/monstring_beskrivelse.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-5">
        {% embed "element/fylke/monstring_navigasjon.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-7 col-md-pull-left">
        {% embed "element/fylke/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>
        
    <div class="col-xs-12 col-md-5">
        {% embed "element/fylke/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>

    {# @TODO: add kontaktinfo #}

{% endblock %}