{% extends "view/fylke_pre.twig.html" %}

{% block jumbo_header %}
	UKM Østfold
{% endblock %}
{% block jumbo_content %}
	Lokalmønstringene er i gang!
{% endblock %}

{% block content %}
<!--
	<div class="row monstring_tittel">
		<div class="pull-right">
		    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"fylke"} %}
		    {% endembed %}
		</div>
	    <div class="pull-left"><p><a href="http://ukm.no">UKM.no</a> &gt; <a href="#">Der du bor</a> &gt; <a href="#">Østfold</a></p></div>
	</div>
-->

    <div class="row">
    	<div class="col-xs-12 col-md-7 fylke_hovedartikkel">
    		{% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
    		{% endembed %}
    	</div>
    	
    	<div class="col-xs-12 col-md-5">
    		{% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
    	</div>
    	<div class="col-xs-12 col-md-5">
	    	{% embed "element/monstring/fylke_lokalmonstringer_liste.twig.html" %}
	    	{% endembed %}
    	</div>
    </div>
    
    <div class="row">
		{% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>
    
{% endblock %}