{% extends "view/fylke_pre.twig.html" %}

{% block content %}
    {# Tittel #}
    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"fylke"} %}
    {% endembed %}

    <div class="row">
    	<div class="col-xs-12 col-md-7">
    		{% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
    		{% endembed %}
    	</div>
    	
    	<div class="col-xs-12 col-md-5">
    		{% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
    	</div>
    	<div class="col-xs-12 col-md-5">
	    	<div class="todo">
				<ol>
			    	<li>
			    		<a href="#" data-action="show" data-toggle="#lokalmonstringer_slide" id="lokalmonstringer_toggle">
							<div class="todo-icon fui-list"><span><img src="{{url.theme_dir}}/img/nav/maps.png" /></span></div>
							<div class="todo-content">
								<h4 class="todo-name">
								<strong>Lokalmønstringer</strong>
								</h4>
								<span id="lokalmonstringer_text">Vis lokalmønstringer</span>
							</div>
			    		</a>
			    		<div id="lokalmonstringer_slide" style="display:none;">
				            {% embed "element/monstring/lokalmonstringer_liste.twig.html" %}
				            {% endembed %}
				        </div>
					</li>
				</ol>
	    	</div>
    	</div>
    </div>
    
    <div class="row">
    	<div class="col-xs-12">
    		{% embed "element/monstring/monstring_flere_artikler.twig.html" %}
	        {% endembed %}
    	</div>
    </div>
    
{% endblock %}