{% extends "view/homepage.twig.html" %}

{% block content %}
	{% if now|date('m') in 1..3 or now|date('m') == 12 %}
		<div class="centered pameldte visible-xs col-xs-12">
			<a href="//delta.ukm.no/" class="btn btn-success btn-block">Meld deg på UKM</a>
			<p>&nbsp;</p>
		</div>
	{% endif %}	
	
	<div class="row post_top">
		<div class="hidden-xs hidden-sm col-md-7">
			<a href="{{posts[0].url}}">
				<div class="grid_post_image" style="background-image: url('{{posts[0].image.url}}');"></div>
			</a>
			<a href="{{posts[0].url}}"><h2>{{posts[0].title|raw}}</h2></a>
			<p class="lead">{{posts[0].lead|raw}}</p>
			<a href="{{posts[0].url}}">les mer</a>
		</div>
				
		<div id="infosquare" class="col-xs-12 col-md-5">
			<div class="row">				
				{% if stat_pameldte is defined and now|date('m') not in 9..11 %}
					<div class="centered pameldte col-xs-12 col-sm-5 col-md-9 col-md-offset-1">
						<p class="visible-sm">&nbsp;</p>
						<p class="visible-sm">&nbsp;</p>

						<div class="over">{{stat_pameldte.tall}}</div>
						<div class="under">Påmeldte til UKM {{stat_pameldte.til}}.</div>
						<p class="hidden-xs" style="height: 0;">&nbsp;</p>
						<p class="hidden-xs">
							<a href="//delta.ukm.no/" class="btn btn-success btn-block">Meld deg på UKM</a>
						</p>
					</div>
				{% else %}
					<div class="centered pameldte col-xs-12 col-sm-5 col-md-12">
						<div class="over">1. desember</div>
						<div class="under">Åpner påmeldingen</div>
					</div>
				{% endif %}

				<div class="col-xs-12 col-sm-7 col-md-12">
		        	<ol>
					{% for nav in page_nav %}
						{% embed "element/nav_page.twig.html" %}{% endembed %}
					{% endfor %}
					</ol>
				</div>
				
				
			</div>
		</div>
	</div>
	<div class="clearfix"></div>
	<div class="row">
		<div class="visible-xs visible-sm hidden-md hidden-lg col-xs-12">
			{% embed "element/post/grid_element.twig.html" with posts[0] %}{% endembed %}
		</div>
	</div>
	
	{% if fylkesmonstringer_denne_uken|length > 0 or fylkesmonstringer_forrige_uke|length > 0 %}
		
		{% if fylkesmonstringer_denne_uken|length > 0 %}
			<h2 align="center">Ukas fylkesmønstringer</h2>
			{% for fm in fylkesmonstringer_denne_uken %}
				{% if loop.index is not divisibleby(2) %}
					{% embed "element/feature_left.twig.html" with {'feature': fm} %}{% endembed %}
				{% else %}
					{% embed "element/feature_right.twig.html" with {'feature': fm} %}{% endembed %}
				{% endif %}
			{% endfor %}
		{% endif %}

		{% if fylkesmonstringer_forrige_uke|length > 0 %}
			<h2 align="center">Forrige ukes fylkesmønstringer</h2>
			{% for fm in fylkesmonstringer_forrige_uke %}
				{% if loop.index is not divisibleby(2) %}
					{% embed "element/feature_left.twig.html" with {'feature': fm} %}{% endembed %}
				{% else %}
					{% embed "element/feature_right.twig.html" with {'feature': fm} %}{% endembed %}
				{% endif %}
			{% endfor %}
		{% endif %}
	
		<h2 align="center">Nyheter fra UKM Norge</h2>
	{% endif %}

	<style>
	#ukm_i_media {
		position: relative;
		overflow: hidden;
		background: none;
		margin: 20px 0px;
		padding: 10px;
	}
	#ukm_i_media p.lead {
		color: #000;
		font-size: 22px;
		margin-bottom: 0px;
	}
	#ukm_i_media a h4 {
		font-size: 40px;		
		color: #000;
	}
	/* You could use :after - it doesn't really matter */
	#ukm_i_media:after {
	    content: ' ';
	    display: block;
	    position: absolute;
	    left: 0;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: -1;
	    opacity: 0.6;
	    background-image: url('http://grafikk.ukm.no/kampanje/i_media/ukm_i_media.jpg');
	    background-repeat: no-repeat;
	    background-position: 50% 0;
	    -ms-background-size: cover;
	    -o-background-size: cover;
	    -moz-background-size: cover;
	    -webkit-background-size: cover;
	    background-size: cover;
	}	
	</style>
	
	
	<div class="row">
		{% for post in posts|slice(1) %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			{% if loop.index == 2 %}
				<div class="visible-xs visible-sm">
					<div class="clearfix"></div>
					<div class="container">
						<a href="https://www.google.com/search?hl=no&gl=no&tbm=nws&authuser=0&q=ukm&oq=ukm&gs_l=news-cc.3..43j43i53.2703.2981.0.3206.3.1.0.2.0.0.43.43.1.1.0...0.0...1ac.1._H3JbS_iZV8#q=ukm&hl=no&gl=no&authuser=0&tbm=nws&tbs=sbd:1">
							<div class="well" id="ukm_i_media">
								<h4>Se alt som skrives om UKM!</h4>
								<p class="lead">Stort, smått, lokalt og nasjonalt. Her finner du det meste!</p>
								<a class="btn btn-primary pull-right" href="https://www.google.com/search?hl=no&gl=no&tbm=nws&authuser=0&q=ukm&oq=ukm&gs_l=news-cc.3..43j43i53.2703.2981.0.3206.3.1.0.2.0.0.43.43.1.1.0...0.0...1ac.1._H3JbS_iZV8#q=ukm&hl=no&gl=no&authuser=0&tbm=nws&tbs=sbd:1">Klikk her</a>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			{% endif %}
			{% if loop.index == 3 %}
				<div class="visible-md visible-lg">
					<div class="clearfix"></div>
					<div class="container">
						<a href="https://www.google.com/search?hl=no&gl=no&tbm=nws&authuser=0&q=ukm&oq=ukm&gs_l=news-cc.3..43j43i53.2703.2981.0.3206.3.1.0.2.0.0.43.43.1.1.0...0.0...1ac.1._H3JbS_iZV8#q=ukm&hl=no&gl=no&authuser=0&tbm=nws&tbs=sbd:1" target="_blank">
							<div class="well" id="ukm_i_media">
								<h4>Se alt som skrives om UKM!</h4>
								<p class="lead">Stort, smått, lokalt og nasjonalt. Her finner du det meste!</p>
								<a class="btn btn-primary pull-right" target="_blank" href="https://www.google.com/search?hl=no&gl=no&tbm=nws&authuser=0&q=ukm&oq=ukm&gs_l=news-cc.3..43j43i53.2703.2981.0.3206.3.1.0.2.0.0.43.43.1.1.0...0.0...1ac.1._H3JbS_iZV8#q=ukm&hl=no&gl=no&authuser=0&tbm=nws&tbs=sbd:1">Klikk her</a>
								<div class="clearfix"></div>
							</div>
						</a>
					</div>
					<div class="clearfix"></div>
				</div>
			{% endif %}
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}

		{% embed "element/post/prev_next.twig.html" %}{% endembed %}
	</div>
{% endblock %}