{% extends "layout.twig.html" %}

{% block jumbo_header %}
	UKM for ambassadører
{% endblock %}
{% block jumbo_content %}
	Midlertidig utilgjengelig!
{% endblock %}

{% block content %}
	<p>Ambassadørsiden er midlertidig utilgjengelig, men vil være tilbake i løpet av fredag 24. oktober</p>
	<p>Vi beklager dette!</p>
{% endblock %}

{% block content_TEMPOUT %}
	<div class="row">
	<div class="col-xs-12 col-md-7">
		<div class="clearfix"></div>
		<div>
			<h3>Min UKM-erfaring</h3>
			<ol class="list-unstyled">
				<li>Erfaring 1</li>
				<li>Erfaring 2</li>
			</ol>
		</div>
	</div>
		<div id="infosquare" class="col-xs-12 col-md-5">
			<div class="todo">
	        	<ol>
				{% for nav in page_nav %}
					{% embed "element/nav_page.twig.html" %}{% endembed %}
				{% endfor %}
				</ol>
			</div>
		</div>
	</div>
	
	<div class="row">
		{% for post in posts %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}
	
		<div class="col-xs-4 col-sm-2 pull-right">
			<a href="{{ nextpost|raw }}"><button type="button" class="btn btn-default">Se flere nyheter</button></a>
		</div>
		
		{% if prevpost|length > 0 %}
		<div class="col-xs-4 col-sm-2 pull-left">
		      <a href="{{ prevpost|raw }}"><button type="button" class="btn btn-default">Se forrige nyheter</button></a>
		</div>
		{% endif %}
	</div>

{% endblock %}