{% extends "view/homepage.twig.html" %}

{% block content %}
	{% if now|date('m') in 1..4 or now|date('m') == 12 %}
	<p>
		<a href="/din_monstring/" class="btn btn-success btn-block btn-sm">Påmeldingen er åpen: start påmelding!</a>
	</p>
	{% endif %}
	<div class="row post_top">
		<div class="hidden-xs hidden-sm col-md-7">
			<a href="{{posts[0].url}}">
				<div class="grid_post_image" style="background-image: url('{{posts[0].image.url}}');"></div>
			</a>
		</div>
				
		<div id="infosquare" class="col-xs-12 col-md-5">
			<div class="">
	        	<ol>
				{% for nav in page_nav %}
					{% embed "element/nav_page.twig.html" %}{% endembed %}
				{% endfor %}
				</ol>
			</div>
			{% if stat_pameldte is defined and stat_pameldte.tall > 30 %}
			<div class="centered pameldte visible-xs visible-sm">
				<div class="over">{{stat_pameldte.tall}}</div>
				<div class="under">Påmeldte til UKM {{stat_pameldte.til}}</div>
			</div>
			{% else %}
			<div class="centered pameldte visible-xs visible-sm">
				<div class="over">1. desember</div>
				<div class="under">Åpner påmeldingen</div>
			</div>
			{% endif %}
		</div>
		<div class="clearfix"></div>
		<div class="col-xs-12 hidden-xs hidden-sm post_top">		
			<a href="{{posts[0].url}}"><h2>{{posts[0].title|raw}}</h2></a>
			<p class="lead">{{posts[0].lead|raw}}</p>
			<a href="{{posts[0].url}}">les mer</a>
		</div>
	</div>
	
	<div class="row">
		<div class="visible-xs visible-sm hidden-md hidden-lg col-xs-12">
			{% embed "element/post/grid_element.twig.html" with posts[0] %}{% endembed %}
		</div>
	</div>
	
	{# <div class="separator_line"></div> #}


	{% for fm in fylkesmonstringer %}
		{% if loop.index is not divisibleby(2) %}
			{% embed "element/feature_left.twig.html" with {'feature': fm} %}{% endembed %}
		{% else %}
			{% embed "element/feature_right.twig.html" with {'feature': fm} %}{% endembed %}
		{% endif %}
	{% endfor %}
	
	{% if fylkesmonstringer | length > 0 %}
		<h2>Nyheter fra UKM Norge</h2>
	{% endif %}
	
	
	<div class="row">
		{% for post in posts|slice(1) %}
			<div class="news col-xs-6 col-md-4">
				{% embed "element/post/grid_element.twig.html" with post %}{% endembed %}
			</div>
			
			{% if loop.index is divisibleby(3) %}
				<div class="clearfix visible-md visible-lg"></div>
			{% elseif loop.index is divisibleby(2) %}
				<div class="clearfix visible-xs visible-sm"></div>
			{% endif %}
		{% endfor %}

		{% embed "element/post/prev_next.twig.html" %}{% endembed %}
	</div>
{% endblock %}