{% extends "layout.twig.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url.theme_dir }}js/lokalside_pamelding.js"></script>
    
    {# Tittel #}
    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"lokal"} %}
    {% endembed %}

    <div class="col-xs-12 col-md-5 pull-right">
        <div>
            {% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"var"} %}
            {% endembed %}
        </div>
    
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>


    {# contact #}
    <div class="col-xs-12 col-md-5">
        {% for kontakt in monstring.kontaktpersoner %}
            
            {% embed "element/monstring/kontaktperson.twig.html" with kontakt.info %}
            {% endembed %}
        
        {% endfor %}
        
    </div>

    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>


{% endblock %}

