{% extends "view/kommune.twig.html" %}

{% block jumbo_content %}
	{% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"er"} %}{% endembed %}
{% endblock %}

{% block meny_ekstra %}
    <div class="col-xs-12">
    	<p class="centered">
			<strong></strong>
    	</p>
    </div>
{% endblock %}

{% block hovedfokus_pre %}
	<div class="col-xs-12">
        <h2>Meld deg på i dag!</h2>
	</div>
{% endblock %}

{% set posts_include_top_post_in_full_list = true %}

{% block hovedfokus %}
    {# Registration #}
    <script type="text/javascript" src="{{ url.theme_dir }}js/lokalside_pamelding.js"></script>
    <div id="paamelding_container">
       <ul class="list-inline pameldingsikoner">
   		<li class="col-xs-12 separator">
   			Påmeldingsfrist: 

            {% if monstring.frist_1_aktiv %}
	   			{{monstring.frist_1 | dato('l j.M') }} kl. {{monstring.frist_1 | dato('H:i')}}
	   		{% else %}
	   			{{monstring.frist_2 | dato('l j.M') }} kl. {{monstring.frist_2 | dato('H:i')}}
	   		{% endif %}
	   	</li>
   		
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-3 col-sm-2 col-md-3 col-lg-2 centered">
                {% if monstring.frist_1_aktiv %}
	                {% if monstring.kommuner|length > 1 %}
	                    
	                    <a onclick="kommuneValg.vis('{{ ikon.name }}', '{{ monstring.pl_id }}', '{{ ikon.ico }}', {{monstring.kommuner | json_encode()}} )">
	                {% else %}
	                    <a href="http://pamelding.ukm.no/quickstart.php?steg=kontaktperson&type={{ ikon.ico }}&kommune={{ monstring.kommuner[0].id }}&pl_id={{monstring.pl_id}}">
	                {% endif %}
	                <img src="{{ ikon.ico_url }}" alt="{{ ikon.name }}" style="width: 90%"> 
	                <small>{{ ikon.name|raw }}</small>
	                </a>
	            {% else %}
					<img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" alt="Fristen er ute" title="Fristen er ute" style="width: 90%"> 
					<small>{{ ikon.name|raw }}</small>
	            {% endif %}
            </li>
            {% if loop.index is divisibleby(4) %}
                <li class="clearfix visible-xs hidden-sm visible-md hidden-lg"></li>
            {% endif %}
            {% if loop.index is divisibleby(6) %}
                <li class="clearfix hidden-xs visible-sm hidden-md visible-lg"></li>
            {% endif %}

        {% endfor %}
   		
        {% for ikon in ikoner_tittel_los %}
            <li class="col-xs-3 col-sm-2 col-md-3 col-lg-2 centered">
                {% if monstring.frist_2_aktiv %}
	                {% if monstring.kommuner|length > 1 %}
	                    <a onclick="kommuneValg.vis('{{ ikon.name }}', '{{ monstring.pl_id }}', '{{ ikon.ico }}', {{monstring.kommuner | json_encode()}} )">
	                {% else %}
	                    <a href="http://pamelding.ukm.no/quickstart.php?steg=kontaktperson&type={{ ikon.ico }}&kommune={{ monstring.kommuner[0].id }}&pl_id={{monstring.pl_id}}">
	                {% endif %}
	                <img src="{{ ikon.ico_url }}" alt="{{ ikon.name }}" style="width: 90%"> 
	                <small>{{ ikon.name|raw }}</small>
	                </a>
	            {% else %}
					<img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" alt="Fristen er ute" title="Fristen er ute" style="width: 90%"> 
					<small>{{ ikon.name|raw }}</small>
	            {% endif %}
            </li>
            {% if loop.index is divisibleby(4) %}
                <li class="clearfix visible-xs hidden-sm visible-md hidden-lg"></li>
            {% endif %}
            {% if loop.index is divisibleby(6) %}
                <li class="clearfix hidden-xs visible-sm hidden-md visible-lg"></li>
            {% endif %}

        {% endfor %}

        </ul> 
    </div>
    <div class="clearfix"></div>
{% endblock %}