{% extends "layout.twig.html" %}

{% block content %}
    <h1>Lokalside</h1>

    <div class="col-xs-12 col-md-5 pull-right">
        <div>
            <p>Lokalmønstringen er fra {{monstring.starter | date("D j. F")}} til {{monstring.slutter | date("D j. F")}} i {{monstring.sted}}</p>
        </div>
    
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-5 pull-right">
        
        <h3>Lokalmønstringer</h3>
        <div class="hidden-lg hidden-md">
            <button class="btn btn-medium btn-primary toggle" data-action="show" data-toggle="#lokalmonstringer_slide">Vis lokalmønstringer</button>
        </div>
        <div class="visible-lg visible-md" style="display:none" id="lokalmonstringer_slide">
            {% embed "element/monstring/lokalmonstringer_liste.twig.html" %}
            {% endembed %}
        </div>
    </div>
    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>


{% endblock %}