{% extends "view/kommune.twig.html" %}

{% block jumbo_content %}
	Velkommen til UKM {{monstring.starter | dato("l j. F") | capitalize }} til {{monstring.slutter | dato("l j. F")}}, {{monstring.sted}}
{% endblock %}

{% block content_pre %}
	{% if livelink is defined and livelink and embedcode is not defined %}
	<div class="liveLink" style="text-align:center;">
		<a href="{{livelink}}" target="_blank">Vi sender direkte fra mønstringen, klikk her!</a>
	</div>
	{% endif %}
	{% if embedcode is defined %}
		<div align="center">
		{{ embedcode|raw }}
		</div>
	{% endif %}
{% endblock %}