{% extends "view/kommune.twig.html" %}

{% block jumbo_content %}
	1. desember åpner vi påmeldingen!
{% endblock %}


{% block meny_ekstra %}
    <div class="col-xs-12">
    	<p class="centered">
			<strong>{% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"er"} %}{% endembed %}</strong>
    	</p>

		<p></p>    	

    	<p class="centered">Fra 1. desember kan du melde deg på med</p>
        <ul class="list-inline col-xs-12 pameldingsikoner">
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-3 col-sm-2 col-md-3 col-lg-3 ikon centered">
                <div class="col-xs-10 col-xs-offset-1"><img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" style="width: 95%"> </div>
                <div class="centered"><small>{{ ikon.name|raw }}</small></div>
            </li>
            {% if loop.index is divisibleby(4) %}
                <li class="clearfix visible-xs hidden-sm visible-md visible-lg"></li>
            {% elseif loop.index is divisibleby(6) %}
                <li class="clearfix hidden-xs visible-sm hidden-md hidden-lg"></li>
            {% endif %}
			{% set firstIndex = loop.index %}
        {% endfor %}
        {% for ikon in ikoner_tittel_los %}
            <li class="col-xs-3 col-sm-2 col-md-3 col-lg-3 ikon centered">
                <div class="col-xs-10 col-xs-offset-1"><img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" style="width: 95%"> </div>
                <div class="centered"><small>{{ ikon.name|raw }}</small></div>
            </li>
            {% if (firstIndex+loop.index) is divisibleby(4) %}
                <li class="clearfix visible-xs hidden-sm visible-md visible-lg"></li>
            {% elseif (firstIndex+loop.index) is divisibleby(6) %}
                <li class="clearfix hidden-xs visible-sm hidden-md hidden-lg"></li>
            {% endif %}

        {% endfor %}

        </ul> 
        <div class="clearfix"></div>
    </div>
{% endblock %}