{% extends "layout.twig.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url.theme_dir }}js/lokalside_pamelding.js"></script>
    
    {# Tittel #}
    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"lokal"} %}
    {% endembed %}

    <div class="col-xs-12 col-md-5 pull-right">
        <div>
            {% embed "element/monstring/monstring_beskrivelse.twig.html" %}
            {% endembed %}
        </div>
    
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>


    {# Registration #}
    <div class="col-xs-12 col-md-5">
        <h3>Påmelding har ikke åpnet enda</h3>
        {#
        <div id="paamelding_container">
            <ul class="list-inline col-xs-12">
            {% for ikon in ikoner_tittel %}
                <li class="col-xs-3">
                    {% if monstring.kommuner|length > 1 %}
                        
                        <a onclick="kommuneValg.vis('{{ ikon.name }}', '{{ monstring.pl_id }}', '{{ ikon.ico }}', {{monstring.kommuner | json_encode()}} )">
                    {% else %}
                        <a href="http://pamelding.ukm.no/quickstart.php?steg=kontaktperson&type={{ ikon.ico }}&kommune={{ monstring.kommuner[0].id }}&pl_id={{monstring.pl_id}}">
                    {% endif %}
                    <img class="col-xs-12" src="{{ ikon.ico_url }}" alt="{{ ikon.name }}"> 
                    <h4 class="centered">{{ ikon.name | raw }}</h4>
                    </a>
                </li>
                {% if loop.index is divisibleby(4) %} <div class="clearfix"></div> {% endif %}
            {% endfor %}
            </ul> 
        </div>
        #}
    </div>

    {# contact #}
    <div class="col-xs-12 col-md-5">
        <h3>Kontaktpersoner</h3>
        {% for kontakt in monstring.kontaktpersoner %}
            {% embed "element/monstring/kontaktperson.twig.html" with kontakt.info %}
            {% endembed %}
        {% endfor %}
        
    </div>

    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>


{% endblock %}