{% extends "layout.twig.html" %}

{% block jumbo_header %}
	UKM Fredrikstad
{% endblock %}
{% block jumbo_content %}
	{% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"var"} %}{% endembed %}
{% endblock %}

{% block content %}

    <div class="col-xs-12 col-md-5 pull-right">   
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>

    {# Category #}
    <div class="col-xs-12 col-md-5 pull-right">
        <h3>Kategorier</h3>
        
        <ul class="list-inline col-xs-12">
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-3">
                <img class="col-xs-12" src="{{ ikon.ico_url }}" alt="{{ ikon.name }}"> 
                <h4 class="centered">{{ ikon.name|raw }}</h4>
            </li>
            {% if loop.index is divisibleby(4) %}
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
        </ul> 
        <div class="clearfix"></div>
    </div>


    {# contact #}
    <div class="col-xs-12 col-md-5">
        {% for kontakt in monstring.kontaktpersoner %}
            
            {% embed "element/monstring/kontaktperson.twig.html" with kontakt.info %}
            {% endembed %}
        
        {% endfor %}
        
    </div>

    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>

   


{% endblock %}

