{% extends "layout.twig.html" %}

{% block content %}
    
    {# Tittel #}
    {% embed "element/monstring/monstring_tittel.twig.html" with {"monstring_type":"lokal"} %}
    {% endembed %}

    <div class="col-xs-12 col-md-5 pull-right">
        <div>
            {% embed "element/monstring/monstring_beskrivelse.twig.html" %}
            {% endembed %}
        </div>
    
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-5">
        <h3>Kategorier</h3>
        
        <ul class="list-inline col-xs-12">
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-3">
                <img class="col-xs-12" src="{{ ikon.ico_url }}" alt="{{ ikon.name }}"> 
                <h4 class="centered">{{ ikon.name }}</h4>
            </li>
            {% if loop.index is divisibleby(4) %}
                <div class="clearfix"></div>
            {% endif %}
        {% endfor %}
        </ul> 
    </div>

    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-12">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>

{% endblock %}