{% extends "layout.twig.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url.theme_dir }}js/lokalside_pamelding.js"></script>
    
    {% if monstring.kommuner|length > 1 %}
        <h1>Lokalside for 
            {% for kommune in monstring.kommuner %} 
                {% if loop.first %} {{ kommune.name }}
                {% elseif not loop.last %}, {{ kommune.name }}
                {% else %} og {{ kommune.name }}
                {% endif %} 
            {% endfor %}
        </h1>
    {% else %}
        <h1>Lokalside for {{ monstring.kommuner[0].name }}</h1>
    {% endif %}

    <div class="col-xs-12 col-md-5 pull-right">
        <div>
            {% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"var"} %}
            {% endembed %}
        </div>
    
        <div>
            {% embed "element/monstring/monstring_navigasjon.twig.html" %}
            {% endembed %}
        </div>
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>


    {# contact #}
    <div class="col-xs-12 col-md-5">
        {% for kontakt in monstring.kontaktpersoner %}
            
            {% embed "element/monstring/kontaktperson.twig.html" with kontakt.info %}
            {% endembed %}
        
        {% endfor %}
        
    </div>

    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>


{% endblock %}

