{% extends "view/kommune.twig.html" %}

{% block jumbo_content %}
	1. desember åpner vi påmeldingen!
{% endblock %}


{% block meny_ekstra %}
    <div class="col-xs-12">
    	<p class="centered">
			<strong>{% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"er"} %}{% endembed %}</strong>
    	</p>

		<p></p>    	

    	<p class="centered">1. desember kan du melde deg på med</p>
        <ul class="list-inline col-xs-12">
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-3 col-sm-2 col-md-3 col-lg-2 centered">
                <img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" style="width: 90%"> 
                <small>{{ ikon.name|raw }}</small>
            </li>
            {% if loop.index is divisibleby(4) %}
                <li class="clearfix visible-xs hidden-sm visible-md hidden-lg"></li>
            {% endif %}
            {% if loop.index is divisibleby(6) %}
                <li class="clearfix hidden-xs visible-sm hidden-md visible-lg"></li>
            {% endif %}

        {% endfor %}
        </ul> 
        <div class="clearfix"></div>
    </div>
{% endblock %}