{% extends "layout.twig.html" %}

{% block content %}
    

    <div class="col-xs-12 col-md-5 pull-right">
        <h1>Lokalside</h1>
        <p>Lokalmønstringen er ikke klargjort av kommunekontakt</p>
        
    </div>

    <div class="col-xs-12 col-md-7">
        {% embed "element/monstring/monstring_hovedartikkel.twig.html" %}
        {% endembed %}
    </div>

    <div class="col-xs-12 col-md-5 pull-right">
        
        <h3>Kategorier</h3>
        
        <ul>
        {% for ikon in ikoner_tittel %}
            <li>{{ ikon.name }}</li>
        {% endfor %}
        </ul>
            
    </div>
    <div class="visible-xs visible-sm clearfix"></div>
        
    <div class="col-xs-12 col-md-12">
        {% embed "element/monstring/monstring_flere_artikler.twig.html" %}
        {% endembed %}
    </div>


{% endblock %}