{% extends "layout.twig.html" %}
{% block content %}
<article>
        <div class="page">
            {{post.content|raw}}
        </div>
</article>

	{% for kontakt in kontakter %}
		<div class="col-xs-12 col-sm-6 col-md-4">
			{% embed "element/kontakt.twig.html" %}{% endembed %}
		</div>
		{% if loop.index is divisibleby(2) %}
			<div class="visible-sm clearfix"></div>
		{% endif %}
		{% if loop.index is divisibleby(3) %}
			<div class="visible-md clearfix"></div>
		{% endif %}
	{% endfor %}
{% endblock %}