{% extends "layout.twig.html" %}
{% block content %}
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="well">
			<a href="//om.ukm.no/kontakt/fylkeskontaktene/">
				<h2>Fylkeskontaktene</h2>
			</a>
			<p>Det er én ansvarlig for UKM i hvert fylke. Dette er fylkeskontaktene</p>
			<p class="btn btn-md btn-default pull-right">
				<a href="//om.ukm.no/kontakt/fylkeskontaktene/">Vis kontaktinfo</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="well">
			<a href="http://ukm.no/din_monstring/">
				<h2>Din lokalkontakt</h2>
			</a>
			<p>Alle UKM-mønstringer har en lokalkontakt som kan svare på alt om din lokale mønstring</p>
			<p class="btn btn-md btn-default pull-right">
				<a href="http://ukm.no/din_monstring/">Vis kontaktinfo</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-sm-6">
		<div class="well">
			<a href="/om.ukm.no/kontakt/administrasjonen/">
				<h2>UKM Norge</h2>
			</a>
			<p>UKM Norge har kontorer i Trondheim og svarer på generelle henvendelser om UKM</p>
			<p class="btn btn-md btn-default pull-right">
				<a href="//om.ukm.no/kontakt/administrasjonen/">Vis kontaktinfo</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="well">
			<a href="//om.ukm.no/kontakt/styret/">
				<h2>Styret</h2>
			</a>
			<p>Alle som sitter i UKM Norges styre</p>
			<p class="btn btn-md btn-default pull-right">
				<a href="//om.ukm.no/kontakt/styret/">Vis kontaktinfo</a>
			</p>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

{% endblock %}