{% extends "layout.twig.html" %}

{% block content %}
	{% embed "element/backtoUKM.twig.html" %}{% endembed %}

	<div class="row">
		<div class="col-xs-12 col-sm-3 pull-right" id="rightnav">

			<div class="row">		
				<div class="col-xs-12 hidden-xs">
				<div class="pull-right hidden-xs pameldteFilter">søk i listen</div>
				<div class="clearfix"></div>

					<div class="input-group input-group-sm">
						<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
						<input type="search" class="form-control" id="filter_search" placeholder="Søk i listen.." />
					</div>
				</div>
			</div>
		
			<div class="visible-xs hidden-sm hidden-md hidden-lg">
				<label for="pameldte_filter">Viser nå:</label>
				<select id="pameldte_filter" class="form-control">
					<option value="false" {{active_filter_id=='false'?'selected="selected"':''}}>Alle innslag</option>
					{% for bt_id, bt_name in typer %}
					<option value="{{bt_id}}" {{active_filter_id==bt_id?'selected="selected"':''}}>{{bt_name}}</option>
					{% endfor %}
				</select>
			</div>

			<div class="clearfix"></div>
			<p></p>
			
			<div class="row">
				<div class="input-group input-group-sm col-xs-12 visible-xs">
					<input type="search" class="form-control" id="filter_search_mobile" placeholder="Søk i listen.." />
				</div>
				<div class="clearfix"></div>
				<p></p>
			</div>
			
			<div class="hidden-xs visible-sm visible-md visible-lg">
				<div class="pull-right hidden-xs pameldteFilter">filtrer listen</div>
				<div class="clearfix"></div>

				<p>
					<a href="?" class="btn btn-{{active_filter_id=='false'?'success':'default'}} btn-block">Alle innslag</a>
					{% for bt_id, type in typer %}
						<a href="?type={{bt_id}}" class="btn btn-{{active_filter_id==bt_id?'success':'default'}} btn-block">{{type}}</a>
					{% endfor %}
				</p>
			</div>
			
		</div>
		<div class="clearfix hidden-sm hidden-md hidden-lg"></div>
		<div class="pameldteFilter">&nbsp;</div>
		<div class="col-xs-12 col-sm-9">
			<ol class="list-unstyled" id="filter_this">
				{% for innslag in rekkefolge %}
					{% embed "element/innslag.twig.html" with {'showIndex': false, 'context':'pameldte'} %}{% endembed %}
				{% else %}
					<li class="alert">
						<h4>Ingen innslag</h4>
						<p>Det er ingen påmeldte til UKM {{monstring.navn}}</p>
					</li>				
				{% endfor %}
			</ol>
			
			<div id="filter_none" class="alert">
				<h4>Ingen treff i "{{active_filter}}"</h4>
				<p>Fant ingen treff i listen for det du søkte etter. Du kan søke etter navn på innslag, personer og titler.</p>
				{% if list_filtered %}
					<p>
						<a href="?">Klikk her for å søke blant alle innslag</a>
					</p>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}