{% extends "layout.twig.html" %}

{% block content %}
	<div class="col-xs-12">
	<div class="post_image" style="background-image: url('{{post.image.url}}');">
		<div class="data">
			<h2>{{post.title}}</h2>
			<p> 
                <span class="glyphicon glyphicon-calendar"></span>
                {{post_date|date('d.M')}} | 
                {% for category in post.categories %}
                    <a href="{{category.url}}">{{category.name}}</a>
                    {% if loop.last != true %}, {% endif %}
                {% endfor %}
                
            </p>
            
            
		</div>
	</div>
	</div>
	{{post.content|raw}}

    
    {# Byline #}
    <div class="post_byline">
        <span>{{post.author.company_name}}</span> 
        <span>{{post.author.display_name}}</span>
        <span>
            <span class="glyphicon glyphicon-envelope"></span>
            <a href="mailto:{{post.author.user_email}}">e-post</a>
        </span>
        <span><a href="{{post.author.facebook_url}}">Facebook</a></span>
    </div>

{{dump(post.author)|raw}}
{% endblock %}

