{% extends "layout.twig.html" %}

{% block content %}
	{% embed "element/backtoUKM.twig.html" %}{% endembed %}
	<div class="row">
	    <div class="col-xs-12 col-sm-3 pull-right" id="rightnav">
	        <div class="row">
	        
	        </div>
	        
	    </div>
    
        <div class="col-xs-12 col-sm-9">
        	<h2>{{hendelse.navn}} <small>{{hendelse.start | dato('l d.M')}} kl.{{hendelse.start | dato('H:i' )}}</small></h2>
        	<p>{{hendelse.sted}}</p>
        	
        	<div class="alert visible-xs">
        		<h4>Klikk på innslaget for mer info, artikler, bilder og film</h4>
        	</div>
        	
        	<ol class="list-unstyled">
        		{% for innslag in rekkefolge %}
        			{% embed "element/innslag.twig.html" with {'showIndex': true} %}{% endembed %}
        		{% else %}
        			<li class="">
        				<p>&nbsp;</p>
        				<p><strong>Det er ikke satt opp noen innslag i denne hendelsen</strong></p>
        				<p>&nbsp;</p>
        			</li>				
        		{% endfor %}
        	</ol>
        </div>
	</div>
	
	<div class="row">
		<a href="{{url.blog}}program/"><button class="btn btn-block btn-success">Tilbake til rammeprogrammet</button></a>
	</div>
{% endblock %}