{% extends "layout.twig.html" %}
{% block content_container %}
<div class="row">
    <div class="container">
        <h2>Hovedstream</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113529/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
        
        <h2>Stream #2</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113745/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
        
        <h2>Stream #3</h2>
        <iframe src="http://new.livestream.com/accounts/183084/events/3113750/player?width=969&height=550&autoPlay=false&mute=false" width="969" height="550" frameborder="0" scrolling="no"> </iframe>
    </div>
</div>
{% endblock %}

