<div class="container-fluid UKMblock UKMblockText">
	<div class="row">
		<div class="col-12 text center" data-aos="fade-up" data-aos-duration="250" data-aos-easing="ease-in" data-aos-once="false">
			{{ block.content|raw }}
		</div>
	</div>
</div>