<a href="{{post.url}}">
	<div class="post-grid-pretty" style="background-image: url('{{post.image.medium.src}}');">
		<header>
			<h1>
				{{ post.title|raw }}
			</h1>
			<p>{{ post.lead|raw }}</p>
		</header>
	</div>
</a>