<div class="contact">
	<div class="image">
		<img src="{{ author.image }}" class="img rounded-circle" />
	</div>
	<div class="info">
		<div class="name">
			{{ author.display_name|raw }}
		</div>
		<div class="title">
			{{ author.role }}
		</div>
	</div>
</div>