<div class="row">
	<div class="col-12 col-lg-4" style="background: #000;">
			<h2 class="mb-2 mt-1 white">NYHETSBREV</h2>
	</div>
	<div class="col-6 col-lg-2 UKMfblock white autoshrink clickContainer" style="background: #464646">
		<h2>
			<a href="//festivalen.ukm.no/nyhetsbrev/mandag/" class="momClickMeClickMe"> 
				Mandag
			</a> 
		</h2>
	</div>
	<div class="col-6 col-lg-2 UKMfblock white background-cover clickContainer autoshrink" style="background-color: #737373;{# background-image: url('https://liker.ukm.no/files/2018/04/27504051_2032469490362801_3315861543286661929_o-600x400.jpg')#}">
		<h2>
			<a href="//festivalen.ukm.no/tirsdag/" class="momClickMeClickMe">
				Tirsdag
			</a>
		</h2>	
	</div>
	<div class="col-6 col-lg-2 UKMfblock white autoshrink clickContainer" style="background: #a8a8a8;">
		<h2>
			<a href="//festivalen.ukm.no/nyhetsbrev/onsdag/" class="momClickMeClickMe"> 
				Onsdag
			</a> 
		</h2>
	</div>
	<div class="col-6 col-lg-2 UKMfblock white autoshrink" style="background: #464646">
		<h2>
{#			<a href="//festivalen.ukm.no/nyhetsbrev/torsdag/" class="momClickMeClickMe"> #}
				Torsdag
{#			</a> #}
		</h2>
	</div>
	{# <div class="col-6 col-lg-2 UKMfblock white autoshrink" style="background: #464646">
		<h2>
			<a href="//festivalen.ukm.no/nyhetsbrev/torsdag/" class="momClickMeClickMe"> 
				Fredag
			</a>
		</h2>
	</div> #}
</div>
