{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
	{% embed "UKMDesignBundle:Monstring:banner.html.twig"|UKMpath %}{% endembed %}
	<div class="container-fluid">
		{% embed "UKMDesignBundle:Monstring:favoritt.html.twig"|UKMpath %}{% endembed %}
		<div class="row-flex vertical-align-top">
			<div class="col-12 col-md-4 float-right">
				<div class="mb-3">
					{% embed "UKMDesignBundle:Kommune:meny.html.twig"|UKMpath %}{% endembed %}
				</div>
			</div>
			
			<div class="col-12 col-md-8 float-left">
				{% if monstring.erRegistrert() %}
					<div class="row mb-4">
						{% set singleMode = true %}
						{% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {posts: posts.getAll(), hideNoneFound: false} %}
						{% endembed %}
					</div>
				{% endif %}

				<div class="mb-4">
					<h3>Hva er UKM?</h3>
					<p>{{ THEME_CONFIG.get('hvaerukm').kort }} 
						<br />
						<a href="{{ THEME_CONFIG.get('hvaerukm').lesmer }}" >Les mer</a>
					</p>
				</div>
			</div>
		</div>
	</div>

{% endblock %}