{% extends "Layout/_"~ (singleMode is defined and singleMode ? 'singleMode' : 'base' ) ~".html.twig"|UKMpath %}

{% block content %}
    <div class="container-fluid">
        {% if har_infoside %}
            <div class="row mt-2">
                <div class="col-12 col-sm-12">
                    {{ infoside|raw|nl2br }}
                    <div class="clearfix"></div>
                </div>
            </div>
        {% endif %}
        <div class="row mt-2">
            <div class="col-12 col-sm-12">
                <h3>Velg hvilket arrangement du er interessert i</h3>
            </div>
            {% for arrangement in omrade.getArrangementer( sesong ).getAll()|filter(arrangement => arrangement.erRegistrert() and arrangement.erSynlig()) %}
                <div class="col-12 col-sm-6 col-lg-4">
                    {% include "UKMDesignBundle:Omrade:Arrangement.html.twig"|UKMpath with{visNettside:true} %}
                </div>
            {% endfor %}
        </div>
    </div>
    {% set singleMode = true %}
    {% embed "UKMDesignBundle:Category:list.html.twig"|UKMpath with {posts: posts.getAll(), hideNoneFound: true} %}{% endembed %}
{% endblock %}