<div class="row">
	{% if page_prev is defined and page_prev %}
		<div class="col left">
			<a href="{{ page_prev|raw }}" class="btn btn-outline-primary">&laquo; Se nyere saker</a>
		</div>
	{% endif %}
	
	{% if page_next is defined and page_next %}
		<div class="col right">
			<a href="{{ page_next|raw }}" class="btn btn-outline-primary">Se eldre saker &raquo;</a>
		</div>
	{% endif %}
</div>
