{% extends "view/kommune/kommune.twig.html" %}

{% block jumbo_content %}
	{% embed "element/monstring/monstring_beskrivelse.twig.html" with {"time_verb":"er"} %}{% endembed %}
{% endblock %}

{% block meny_ekstra %}
    <div class="col-xs-12">
    	<p class="centered">
			<strong></strong>
    	</p>
    </div>
{% endblock %}

{% block hovedfokus_pre %}
	<div class="col-xs-12">
        <h2>Meld deg på i dag!</h2>
	</div>
{% endblock %}

{% set posts_include_top_post_in_full_list = true %}
{% block post_top_desktop_text %}{% endblock %}
{% block post_top_mobile %}{% endblock %}

{% block hovedfokus %}
    {# Registration #}
    <script type="text/javascript" src="{{ url.theme_dir }}js/lokalside_pamelding.js"></script>
    <div id="paamelding_container">
       <ul class="list-inline pameldingsikoner">
   		<li class="col-xs-12">
   			Påmeldingsfrist: 

            {% if monstring.frist_1_aktiv %}
	   			{{monstring.frist_1 | dato('l j.M') }} kl. {{monstring.frist_1 | dato('H:i')}}
	   		{% else %}
	   			{{monstring.frist_2 | dato('l j.M') }} kl. {{monstring.frist_2 | dato('H:i')}}
	   		{% endif %}
	   	</li>
   		
        {% for ikon in ikoner_tittel %}
            <li class="col-xs-4 col-sm-2 col-md-2 col-lg-2 centered">
                {% if monstring.frist_1_aktiv %}
	                {% if monstring.kommuner|length > 1 %}
	                    
	                    <a href="#" onclick="kommuneValg.vis('kontaktperson', '{{ ikon.name }}', '{{ monstring.pl_id }}', '{{ ikon.ico }}', {{monstring.kommuner | json_encode()}} )">
	                {% else %}
	                    <a href="http://pamelding.ukm.no/quickstart.php?steg=kontaktperson&type={{ ikon.ico }}&kommune={{ monstring.kommuner[0].id }}&plid={{monstring.pl_id}}" target="_blank">
	                {% endif %}
	                <img src="{{ ikon.ico_url }}" alt="{{ ikon.name }}" style="width: 90%"> 
	                <small>{{ ikon.name|raw }}</small>
	                </a>
	            {% else %}
					<img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" alt="Fristen er ute" title="Fristen er ute" style="width: 90%"> 
					<small>{{ ikon.name|raw }}</small>
	            {% endif %}
            </li>

            {% embed "element/monstring/pameldingsikoner_clearfix_large_container.twig.html" with {'currentIndex': loop.index} %}{% endembed %}

        {% endfor %}
   		
        {% for ikon in ikoner_tittel_los %}
            <li class="col-xs-4 col-sm-2 col-md-2 col-lg-2 centered">
                {% if monstring.frist_2_aktiv %}
	                {% if monstring.kommuner|length > 1 %}
	                    <a href="#" onclick="kommuneValg.vis('profilside_enk', '{{ ikon.name }}', '{{ monstring.pl_id }}', '{{ ikon.ico }}', {{monstring.kommuner | json_encode()}} )">
	                {% else %}
	                    <a href="http://pamelding.ukm.no/quickstart.php?steg=profilside_enk&type={{ ikon.ico }}&kommune={{ monstring.kommuner[0].id }}&plid={{monstring.pl_id}}" target="_blank">
	                {% endif %}
	                <img src="{{ ikon.ico_url }}" alt="{{ ikon.name }}" style="width: 90%"> 
	                <small>{{ ikon.name|raw }}</small>
	                </a>
	            {% else %}
					<img src="{{ ikon.ico_url_gray }}" alt="{{ ikon.name }}" alt="Fristen er ute" title="Fristen er ute" style="width: 90%"> 
					<small>{{ ikon.name|raw }}</small>
	            {% endif %}
            </li>
            {% embed "element/monstring/pameldingsikoner_clearfix_large_container.twig.html" with {'currentIndex': (loop.index+ikoner_tittel|length)} %}{% endembed %}
        {% endfor %}

        </ul> 
        <div class="clearfix"></div>
        <p>
        	Ønsker du å fortsette en påmelding du har startet på?
        	<br />
        	<a href="http://pamelding.ukm.no/?steg=dinside">Logg inn til din side her</a>
        </p>
    </div>
    <div class="clearfix"></div>
{% endblock %}
